/* ==========================================================================

  NKF Theme Stylesheet
  Author: Calvin Harris
  Version: 0.1 - Last Updated: 26th August, 2013

========================================================================== */
/* ==========================================================================

  Base Stylesheet - SMACCS [ http://smacss.com/book/type-base ]
  A Base rule is applied to an element using an element selector,
  a descendent selector, or a child selector, along with any pseudo-classes.
  It doesn’t include any class or ID selectors.
  
  BASE FrameWork - [ http://git.io/base ]
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* ==========================================================================

  Base Stylesheet - http://git.io/base
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* COLORS */
/* NKF ORANGE */
/* see - http://blog.12spokes.com/web-design-development/simple-css-color-management-with-sass/ */
/* see - http://robots.thoughtbot.com/post/12974565313/controlling-color-with-sass-color-functions */
/* NKF BLACK */
/* PMS 274 */
/* PMS REFLEXBLUE */
/* PMS 2727 */
/* PMS 3145 */
/* PMS 356 */
/* PMS 383 */
/* PMS 109 */
/* PMS 1235 */
/* PMS 1795 */
/* PMS 484 */
/* COLORS */
.orange {
  background: #f15e22;
  padding: 10px 0; }

.orange-light {
  background: #f48152;
  padding: 10px 0; }

.orange-lighter {
  background: #f7a482;
  padding: 10px 0; }

.orange-dark {
  background: #d3470d;
  padding: 10px 0; }

.orange-darker {
  background: #a3360a;
  padding: 10px 0; }

.black {
  background: black;
  padding: 10px 0; }

.black-light {
  background: #1a1a1a;
  padding: 10px 0; }

.black-lighter {
  background: #333333;
  padding: 10px 0; }

.black-lightest {
  background: #4d4d4d;
  padding: 10px 0; }

.white {
  background: white;
  padding: 10px 0; }

.pms274 {
  background: #26225e;
  padding: 10px 0; }

.pms274-light {
  background: #353083;
  padding: 10px 0; }

.pms274-lighter {
  background: #443da9;
  padding: 10px 0; }

.pms274-dark {
  background: #171439;
  padding: 10px 0; }

.pms274-darker {
  background: #080713;
  padding: 10px 0; }

.reflexblue {
  background: #1e4497;
  padding: 10px 0; }

.reflexblue-light {
  background: #2657c2;
  padding: 10px 0; }

.reflexblue-lighter {
  background: #4271d9;
  padding: 10px 0; }

.reflexblue-dark {
  background: #16316c;
  padding: 10px 0; }

.reflexblue-darker {
  background: #0d1e42;
  padding: 10px 0; }

.pms2727 {
  background: #577bbd;
  padding: 10px 0; }

.pms2727-light {
  background: #7c98cb;
  padding: 10px 0; }

.pms2727-lighter {
  background: #a0b5da;
  padding: 10px 0; }

.pms2727-dark {
  background: #3f62a2;
  padding: 10px 0; }

.pms2727-darker {
  background: #314c7d;
  padding: 10px 0; }

.pms3145 {
  background: #048499;
  padding: 10px 0; }

.pms3145-light {
  background: #05afcb;
  padding: 10px 0; }

.pms3145-lighter {
  background: #0ad7f9;
  padding: 10px 0; }

.pms3145-dark {
  background: #035967;
  padding: 10px 0; }

.pms3145-darker {
  background: #012e36;
  padding: 10px 0; }

.pms356 {
  background: #018241;
  padding: 10px 0; }

.pms356-light {
  background: #01b55a;
  padding: 10px 0; }

.pms356-lighter {
  background: #02e774;
  padding: 10px 0; }

.pms356-dark {
  background: #014f28;
  padding: 10px 0; }

.pms356-darker {
  background: #001d0e;
  padding: 10px 0; }

.pms383 {
  background: #91ae3c;
  padding: 10px 0; }

.pms383-light {
  background: #a9c558;
  padding: 10px 0; }

.pms383-lighter {
  background: #bdd27e;
  padding: 10px 0; }

.pms383-dark {
  background: #71882f;
  padding: 10px 0; }

.pms383-darker {
  background: #526222;
  padding: 10px 0; }

.pms109 {
  background: #fedc00;
  padding: 10px 0; }

.pms109-light {
  background: #ffe432;
  padding: 10px 0; }

.pms109-lighter {
  background: #ffea65;
  padding: 10px 0; }

.pms109-dark {
  background: #cbb000;
  padding: 10px 0; }

.pms109-darker {
  background: #988400;
  padding: 10px 0; }

.pms1235 {
  background: #faad1d;
  padding: 10px 0; }

.pms1235-light {
  background: #fbbf4f;
  padding: 10px 0; }

.pms1235-lighter {
  background: #fcd181;
  padding: 10px 0; }

.pms1235-dark {
  background: #df9305;
  padding: 10px 0; }

.pms1235-darker {
  background: #ad7204;
  padding: 10px 0; }

.pms1795 {
  background: #ec2126;
  padding: 10px 0; }

.pms1795-light {
  background: #f05054;
  padding: 10px 0; }

.pms1795-lighter {
  background: #f47f82;
  padding: 10px 0; }

.pms1795-dark {
  background: #c91116;
  padding: 10px 0; }

.pms1795-darker {
  background: #9a0d11;
  padding: 10px 0; }

.pms484 {
  background: #9e2420;
  padding: 10px 0; }

.pms484-light {
  background: #c82e29;
  padding: 10px 0; }

.pms484-lighter {
  background: #da4e4a;
  padding: 10px 0; }

.pms484-dark {
  background: #741a17;
  padding: 10px 0; }

.pms484-darker {
  background: #49110f;
  padding: 10px 0; }

/* General Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

html {
  font-size: 100%; }

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */
/* Micro Clearfix */
.clear:before, .clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

.clear {
  zoom: 1; }

.section:before, .section:after {
  content: "";
  display: table; }

.section:after {
  clear: both; }

.section {
  zoom: 1; }

.checkbox:before, .checkbox:after {
  content: "";
  display: table; }

.checkbox:after {
  clear: both; }

.checkbox {
  zoom: 1; }

/* Helpers */
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left; }

.right {
  float: right; }

.block, .alert, .checkbox {
  display: block; }

.inline-block, audio, canvas, video, .button {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.inline {
  display: inline; }

.strong, b, strong, dt, legend, input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: bold; }

.italic, dfn, blockquote {
  font-style: italic; }

.center-text {
  text-align: center; }

.none, .no-desktop, audio:not([controls]),
[hidden] {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em; }

.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0; }

/* Alert */
.alert {
  background-color: #ffc;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
body {
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Strong and Italic */
/* Links */
a {
  color: #f30; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

/* Paragraph and Small */
p, pre {
  margin: 1em 0; }

small {
  font-size: 80%; }

/* Abbreviations */
abbr[title] {
  border-bottom: 1px dotted; }

/* Audio */
audio:not([controls]) {
  height: 0; }

/* Small, 
Sub and Sup */
small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* Definition */
/* Images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

.image-left {
  margin-right: 20px; }

.image-right {
  margin-left: 20px; }

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .2em; }

h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em; }

h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em; }

h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em; }

/* Reset Heading */
.no-style-heading {
  font-size: 100%;
  margin: 0; }

/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px; }

/* 1.2 Quotes and Code - block quotes, quotes, code, pre, etc
   ========================================================================== */
/* Block Quotes and Quotes */
blockquote {
  font-family: "Georgia", "Times" serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #777;
  margin: 1em 0; }

cite {
  color: #222;
  font-style: normal; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

/* Mark */
mark {
  background: #ff0;
  color: #111; }

/* Code */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

code {
  color: #111;
  padding: 2px 5px;
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* 1.3 Lists
   ========================================================================== */
dl, menu, ol, ul {
  margin: 1em 0; }

ul ul, ol ol, ul ol, ol ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* Remove Styling from List */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0; }

/* 1.4 Tables
   ========================================================================== */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal; }

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee; }

table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #e1e1e1;
  color: #333; }

table tfoot td {
  font-weight: bold; }

table caption {
  padding: 0.5em;
  font-style: italic;
  background-color: #eee;
  border-bottom: 0;
  font-weight: bold; }

/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
fieldset {
  border: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

label {
  cursor: pointer; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle; }

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  color: #777;
  border: 1px solid #ddd;
  border-top: 1px solid #999;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

.checkbox {
  margin: .2em 0; }
  .checkbox label {
    padding-left: 5px;
    overflow: hidden;
    display: table;
    *zoom: 1; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

/* Buttons */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none; }

/* Custom Buttons */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 1em 3em;
  color: #333;
  text-decoration: none;
  text-align: center; }

.orange-button {
  background-color: #fee9cc; }
  .orange-button:hover {
    background-color: #ffe0b5;
    -webkit-tap-highlight-color: #fdeed8; }
  .orange-button:active {
    background-color: #fdeed8; }

.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1; }

.no-style-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #f30;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0; }
  .no-style-button:hover {
    text-decoration: none; }

.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999; }

/* General Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

html {
  font-size: 100%; }

/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
.section {
  position: relative; }

/* Rows */
.row {
  margin: .5em 0; }

.row-one {
  margin: 1em 0; }

.row-two {
  margin: 2em 0; }

.row-three {
  margin: 3em 0; }

.center, .container, .container-full {
  margin-left: auto;
  margin-right: auto; }

.container {
  max-width: 990px;
  padding-left: 10px;
  padding-right: 10px; }

.container-full {
  max-width: 1010px; }

/* Fluid Grid */
.col {
  margin-left: 2%;
  float: left; }

.col:first-child {
  margin-left: 0; }

/* Columns */
.one {
  width: 6.5%;
  *width: expression(Math.floor(0.065 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.two {
  width: 15%;
  *width: expression(Math.floor(0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.three, .quarter {
  width: 23.5%;
  *width: expression(Math.floor(0.235 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.four, .one-third {
  width: 32%;
  *width: expression(Math.floor(0.32 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.five {
  width: 40.5%;
  *width: expression(Math.floor(0.405 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.six, .half {
  width: 49.0%;
  *width: expression(Math.floor(0.49 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.seven {
  width: 57.5%;
  *width: expression(Math.floor(0.575 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.eight {
  width: 66%;
  *width: expression(Math.floor(0.66 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.nine {
  width: 74.5%;
  *width: expression(Math.floor(0.745 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.ten {
  width: 83%;
  *width: expression(Math.floor(0.83 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.eleven {
  width: 91.5%;
  *width: expression(Math.floor(0.915 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.twelve {
  width: 100%; }

/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 740px) and (max-width: 1029px) {
  .container, .tablet-container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px; }

  /* Tablet Grid
  * For stacking full width columns, please use the new class .tablet-full */
  .tablet-one {
    width: 6.5%; }

  .tablet-two {
    width: 15%; }

  .tablet-three {
    width: 23.5%; }

  .tablet-four {
    width: 32%; }

  .tablet-five {
    width: 40.5%; }

  .tablet-six {
    width: 49.0%; }

  .tablet-seven {
    width: 57.5%; }

  .tablet-eight {
    width: 66%; }

  .tablet-nine {
    width: 74.5%; }

  .tablet-ten {
    width: 83%; }

  .tablet-eleven {
    width: 91.5%; }

  .tablet-twelve {
    width: 100%; }

  .tablet-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block; }

  .tablet-full:first-child {
    margin-top: 0; }

  .tablet-center {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .tablet-left {
    float: left; }

  .tablet-right {
    float: right; }

  .tablet-no-float {
    float: none; }

  .tablet-center:first-child {
    margin-left: auto; }

  .tablet-center-text {
    text-align: center; }

  .no-tablet {
    display: none; }

  .show-tablet {
    display: block; } }
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 739px) {
  /* Mobile Grid
  * For stacking full width columns, please use the new class .mobile-full */
  .mobile-one {
    width: 6.5%; }

  .mobile-two {
    width: 15%; }

  .mobile-three {
    width: 23.5%; }

  .mobile-four {
    width: 32%; }

  .mobile-five {
    width: 40.5%; }

  .mobile-six {
    width: 49.0%; }

  .mobile-seven {
    width: 57.5%; }

  .mobile-eight {
    width: 66%; }

  .mobile-nine {
    width: 74.5%; }

  .mobile-ten {
    width: 83%; }

  .mobile-eleven {
    width: 91.5%; }

  .mobile-twelve {
    width: 100%; }

  .mobile-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block; }

  .mobile-full:first-child {
    margin-top: 0; }

  .mobile-center {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .mobile-center:first-child {
    margin-left: auto; }

  .mobile-center-text {
    text-align: center; }

  .mobile-left {
    float: left; }

  .mobile-right {
    float: right; }

  .mobile-no-float {
    float: none; }

  .container, .mobile-container {
    padding-left: 20px;
    padding-right: 20px; }

  /* Mobile Tables */
  table th,
  table td {
    padding: 4px; }

  .no-mobile {
    display: none; }

  .show-mobile {
    display: block; } }
/* End Mobile Media Query */
/* Header */
/* TABLET */
/* MOBILE */
/* Main */
#main.main-topbar {
  margin-top: 40px; }

/* TABLET */
@media only screen and (min-width: 740px) and (max-width: 1029px) {
  #main.main-topbar {
    margin-top: 50px; } }
/* MOBILE */
@media only screen and (max-width: 739px) {
  #main.main-topbar {
    margin-top: 0px; } }
/* Footer */
/* TABLET */
/* MOBILE */
.fixed {
  position: fixed; }

/* TABLET */
/* MOBILE */
/* ==========================================================================
  
  Module Stylesheet - SMACCS [ http://smacss.com/book/type-module ]
  A Module is a more discrete component of the page.
  Modules sit inside Layout components.
  Modules can sometimes sit within other Modules, too. 
  Each Module should be designed to exist as a standalone component.

   ========================================================================== */
/* ========= MASTHEAD ========= */
/* Logo */
/* searchbox */
/* sub nav */
.primary-nav {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #1a1a1a; }
  .primary-nav ul {
    line-height: normal;
    list-style: none;
    padding: 10px;
    margin: 0; }
    .primary-nav ul li {
      float: left;
      margin-left: 20px; }
      .primary-nav ul li a {
        text-decoration: none;
        color: white; }
      .primary-nav ul li a.current,
      .primary-nav ul li a:hover {
        color: #f15e22; }
      .primary-nav ul li a:active {
        color: #f7a482; }
    .primary-nav ul li:first-child {
      margin-left: 0; }

@media only screen and (min-width: 720px) and (max-width: 979px) {
  .primary-nav ul li {
    margin-left: 5px; }
    .primary-nav ul li a {
      padding: 10px 15px; } }
@media only screen and (max-width: 719px) {
  .nav-toggle {
    display: block;
    background-color: #4d4d4d;
    color: white;
    padding: 10px 20px;
    text-decoration: none; }

  .nav-toggle:hover,
  .nav-toggle:active,
  .nav-toggle.active {
    background-color: #4d4d4d;
    color: #f15e22; }

  .primary-nav {
    float: none;
    position: static; }

  .primary-nav ul {
    float: none;
    margin: 0;
    padding: 0; }

  .primary-nav ul li {
    float: none;
    margin-left: 0; }

  .primary-nav ul li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-transform: none;
    background-color: #1a1a1a; }

  .primary-nav ul li a:hover {
    background-color: #4d4d4d; } }
.side-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .side-nav li {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .side-nav li a {
      text-decoration: none; }
    .side-nav li a.current,
    .side-nav li a:hover {
      color: #f15e22; }
    .side-nav li a:active {
      color: #f7a482; }
    .side-nav li a:after {
      content: " \00bb"; }
  .side-nav li.active {
    color: rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.1); }
  .side-nav li:last-child {
    border-bottom: none; }
  .side-nav li:hover {
    background: rgba(0, 0, 0, 0.05); }

.top-bar {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: black; }
  .top-bar ul {
    line-height: normal;
    list-style: none;
    padding: 0;
    margin: 0; }
    .top-bar ul li {
      float: left;
      margin-left: 20px;
      padding: 10px; }
      .top-bar ul li a {
        text-decoration: none;
        color: white; }
      .top-bar ul li a.current,
      .top-bar ul li a:hover {
        color: #f15e22; }
      .top-bar ul li a:active {
        color: #f7a482; }
    .top-bar ul li:first-child {
      margin-left: 0; }

.top-bar-fixed-top,
.top-bar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0; }

/*TABLET */
@media only screen and (min-width: 740px) and (max-width: 1029px) {
  .top-bar ul li {
    margin-left: 5px; }
    .top-bar ul li a {
      padding: 10px 15px; } }
/* MOBILE */
@media only screen and (max-width: 739px) {
  .top-bar {
    float: none;
    position: static; }

  .top-bar ul {
    float: none;
    margin: 0;
    padding: 0; }

  .top-bar ul li {
    float: none;
    margin-left: 0;
    padding: 0; }

  .top-bar ul li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-transform: none;
    background-color: #1a1a1a; }

  .top-bar ul li a:hover {
    background-color: #4d4d4d; } }
/* ========== MAIN ========== */
/* Rotating Stories */
.crumb {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); }
  .crumb ul {
    display: block;
    margin: 0;
    padding: 0; }
    .crumb ul li {
      float: left;
      padding: 8px 5px;
      margin: 0 2px;
      color: #4d4d4d; }
      .crumb ul li a {
        text-decoration: none;
        color: white;
        padding-right: 10px; }
      .crumb ul li a.current,
      .crumb ul li a:hover {
        color: #f15e22; }
      .crumb ul li a:active {
        color: #f7a482; }
    .crumb ul li.active {
      color: rgba(0, 0, 0, 0.4);
      padding-right: 10px; }
    .crumb ul li:first-child {
      margin-left: 0; }
    .crumb ul li:after {
      content: " \2044"; }

/* ==== Primary Sidebar ==== */
/* Rotating Stories */
/* AddThis */
/* Donate Button */
/* Local Events */
/* Newsletters */
/* Calendar */
/* Social Connect */
/* Blog */
/* Resource Guide */
/* AddThis */
/* Blog */
/* Blog */
/* Calendar */
/* Calendar */
/* Donate Button */
/* Donate Button */
/* Local Events */
/* Local Events */
/* Newsletters */
/* Newsletters */
/* Resource Guide */
/* Resource Guide */
/* Social Connect */
/* Social Connect */
/* === FOOTER === */
/* ==========================================================================
  
  State Stylesheet - SMACCS [ http://smacss.com/book/type-state ]
  
  A state is something that augments and overrides all other styles. 
  For example, an accordion section may be in a collapsed or expanded state. 
  A message may be in a success or error state.

   ========================================================================== */
/* NKF THEME */
.container {
  max-width: 1020px; }

.container-full {
  max-width: 1040px; }
