/* ==========================================================================

  Wireframe Stylesheet
  Author: Calvin Harris
  Version: 0.1 - Last Updated: 26th August, 2013

========================================================================== */
/* ==========================================================================

  Base Stylesheet - SMACCS [ http://smacss.com/book/type-base ]
  A Base rule is applied to an element using an element selector,
  a descendent selector, or a child selector, along with any pseudo-classes.
  It doesn’t include any class or ID selectors.
  
  BASE FrameWork - [ http://git.io/base ]
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* ==========================================================================

  Base Stylesheet - http://git.io/base
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* COLORS */
/* NKF ORANGE */
/* see - http://blog.12spokes.com/web-design-development/simple-css-color-management-with-sass/ */
/* see - http://robots.thoughtbot.com/post/12974565313/controlling-color-with-sass-color-functions */
/* NKF BLACK */
/* PMS 274 */
/* PMS REFLEXBLUE */
/* PMS 2727 */
/* PMS 3145 */
/* PMS 356 */
/* PMS 383 */
/* PMS 109 */
/* PMS 1235 */
/* PMS 1795 */
/* PMS 484 */
/* COLORS */
.orange {
  background: #f15e22;
  padding: 10px 0; }

.orange-light {
  background: #f48152;
  padding: 10px 0; }

.orange-lighter {
  background: #f7a482;
  padding: 10px 0; }

.orange-dark {
  background: #d3470d;
  padding: 10px 0; }

.orange-darker {
  background: #a3360a;
  padding: 10px 0; }

.black {
  background: black;
  padding: 10px 0; }

.black-light {
  background: #1a1a1a;
  padding: 10px 0; }

.black-lighter {
  background: #333333;
  padding: 10px 0; }

.black-lightest {
  background: #4d4d4d;
  padding: 10px 0; }

.white {
  background: white;
  padding: 10px 0; }

/* VERY DARK BLUE | http://www.colorhexa.com/26225e */
.pms274 {
  background: #26225e;
  padding: 10px 0; }

.pms274-light {
  background: #353083;
  padding: 10px 0; }

.pms274-lighter {
  background: #443da9;
  padding: 10px 0; }

.pms274-dark {
  background: #171439;
  padding: 10px 0; }

.pms274-darker {
  background: #080713;
  padding: 10px 0; }

/* DARK BLUE | http://www.colorhexa.com/1e4497 */
.reflexblue {
  background: #1e4497;
  padding: 10px 0; }

.reflexblue-light {
  background: #2657c2;
  padding: 10px 0; }

.reflexblue-lighter {
  background: #4271d9;
  padding: 10px 0; }

.reflexblue-dark {
  background: #16316c;
  padding: 10px 0; }

.reflexblue-darker {
  background: #0d1e42;
  padding: 10px 0; }

/* MODERATE BLUE | http://www.colorhexa.com/577bbd */
.pms2727 {
  background: #577bbd;
  padding: 10px 0; }

.pms2727-light {
  background: #7c98cb;
  padding: 10px 0; }

.pms2727-lighter {
  background: #a0b5da;
  padding: 10px 0; }

.pms2727-dark {
  background: #3f62a2;
  padding: 10px 0; }

.pms2727-darker {
  background: #314c7d;
  padding: 10px 0; }

/* DARK CYAN | http://www.colorhexa.com/048499 */
.pms3145 {
  background: #048499;
  padding: 10px 0; }

.pms3145-light {
  background: #05afcb;
  padding: 10px 0; }

.pms3145-lighter {
  background: #0ad7f9;
  padding: 10px 0; }

.pms3145-dark {
  background: #035967;
  padding: 10px 0; }

.pms3145-darker {
  background: #012e36;
  padding: 10px 0; }

/* DARK GREEN | http://www.colorhexa.com/018241 */
.pms356 {
  background: #018241;
  padding: 10px 0; }

.pms356-light {
  background: #01b55a;
  padding: 10px 0; }

.pms356-lighter {
  background: #02e774;
  padding: 10px 0; }

.pms356-dark {
  background: #014f28;
  padding: 10px 0; }

.pms356-darker {
  background: #001d0e;
  padding: 10px 0; }

/* Green | http://www.colorhexa.com/91ae3c */
.pms383 {
  background: #91ae3c;
  padding: 10px 0; }

.pms383-light {
  background: #a9c558;
  padding: 10px 0; }

.pms383-lighter {
  background: #bdd27e;
  padding: 10px 0; }

.pms383-dark {
  background: #71882f;
  padding: 10px 0; }

.pms383-darker {
  background: #526222;
  padding: 10px 0; }

/* YELLOW | http://www.colorhexa.com/fedc00 */
.pms109 {
  background: #fedc00;
  padding: 10px 0; }

.pms109-light {
  background: #ffe432;
  padding: 10px 0; }

.pms109-lighter {
  background: #ffea65;
  padding: 10px 0; }

.pms109-dark {
  background: #cbb000;
  padding: 10px 0; }

.pms109-darker {
  background: #988400;
  padding: 10px 0; }

/* VIVID ORANGE | http://www.colorhexa.com/faad1d */
.pms1235 {
  background: #faad1d;
  padding: 10px 0; }

.pms1235-light {
  background: #fbbf4f;
  padding: 10px 0; }

.pms1235-lighter {
  background: #fcd181;
  padding: 10px 0; }

.pms1235-dark {
  background: #df9305;
  padding: 10px 0; }

.pms1235-darker {
  background: #ad7204;
  padding: 10px 0; }

/* VIVID RED | http://www.colorhexa.com/ec2126 */
.pms1795 {
  background: #ec2126;
  padding: 10px 0; }

.pms1795-light {
  background: #f05054;
  padding: 10px 0; }

.pms1795-lighter {
  background: #f47f82;
  padding: 10px 0; }

.pms1795-dark {
  background: #c91116;
  padding: 10px 0; }

.pms1795-darker {
  background: #9a0d11;
  padding: 10px 0; }

/* DARK RED | http://www.colorhexa.com/9e2420 */
.pms484 {
  background: #9e2420;
  padding: 10px 0; }

.pms484-light {
  background: #c82e29;
  padding: 10px 0; }

.pms484-lighter {
  background: #da4e4a;
  padding: 10px 0; }

.pms484-dark {
  background: #741a17;
  padding: 10px 0; }

.pms484-darker {
  background: #49110f;
  padding: 10px 0; }

/* General Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

html {
  font-size: 100%; }

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */
/* Micro Clearfix */
.clear:before, .clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

.clear {
  zoom: 1; }

.section:before, .section:after {
  content: "";
  display: table; }

.section:after {
  clear: both; }

.section {
  zoom: 1; }

.checkbox:before, .checkbox:after {
  content: "";
  display: table; }

.checkbox:after {
  clear: both; }

.checkbox {
  zoom: 1; }

/* Helpers */
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left; }

.right {
  float: right; }

.block, .alert, .checkbox {
  display: block; }

.inline-block, audio, canvas, video, .button {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.inline {
  display: inline; }

.strong, b, strong, dt, legend, input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: bold; }

.italic, dfn, blockquote {
  font-style: italic; }

.center-text {
  text-align: center; }

.none, .no-desktop, audio:not([controls]),
[hidden] {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em; }

.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0; }

/* Alert */
.alert {
  background-color: #ffc;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
body {
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Strong and Italic */
/* Links */
a {
  color: #f30; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

/* Paragraph and Small */
p, pre {
  margin: 1em 0; }

small {
  font-size: 80%; }

/* Abbreviations */
abbr[title] {
  border-bottom: 1px dotted; }

/* Audio */
audio:not([controls]) {
  height: 0; }

/* Small, 
Sub and Sup */
small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* Definition */
/* Images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

.image-left {
  margin-right: 20px; }

.image-right {
  margin-left: 20px; }

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .2em; }

h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em; }

h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em; }

h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em; }

/* Reset Heading */
.no-style-heading {
  font-size: 100%;
  margin: 0; }

/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px; }

/* 1.2 Quotes and Code - block quotes, quotes, code, pre, etc
   ========================================================================== */
/* Block Quotes and Quotes */
blockquote {
  font-family: "Georgia", "Times" serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #777;
  margin: 1em 0; }

cite {
  color: #222;
  font-style: normal; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

/* Mark */
mark {
  background: #ff0;
  color: #111; }

/* Code */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

code {
  color: #111;
  padding: 2px 5px;
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* 1.3 Lists
   ========================================================================== */
dl, menu, ol, ul {
  margin: 1em 0; }

ul ul, ol ol, ul ol, ol ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* Remove Styling from List */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0; }

/* 1.4 Tables
   ========================================================================== */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal; }

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee; }

table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #e1e1e1;
  color: #333; }

table tfoot td {
  font-weight: bold; }

table caption {
  padding: 0.5em;
  font-style: italic;
  background-color: #eee;
  border-bottom: 0;
  font-weight: bold; }

/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
fieldset {
  border: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

label {
  cursor: pointer; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle; }

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  color: #777;
  border: 1px solid #ddd;
  border-top: 1px solid #999;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

.checkbox {
  margin: .2em 0; }
  .checkbox label {
    padding-left: 5px;
    overflow: hidden;
    display: table;
    *zoom: 1; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none; }

/* ========== Custom Buttons ========== */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 1em 3em;
  color: #333;
  text-decoration: none;
  text-align: center; }

.button-small {
  padding: 0.5em 1.5em; }

.button-large {
  /*padding:2em 6em;*/
  font-size: 1.3em;
  text-transform: uppercase; }

/* == NKF ORANGE == */
.orange-button {
  background-color: #f15e22;
  color: white; }
  .orange-button:hover {
    background-color: #d3470d;
    -webkit-tap-highlight-color: #a3360a; }
  .orange-button:active {
    background-color: #fdeed8; }

/* == PMS 274 == */
.verydarkblue-button {
  background-color: #26225e;
  color: white; }
  .verydarkblue-button:hover {
    background-color: #171439;
    -webkit-tap-highlight-color: #080713; }
  .verydarkblue-button:active {
    background-color: #fdeed8; }

/* == RELEX BLUE == */
.darkblue-button {
  background-color: #1e4497;
  color: white; }
  .darkblue-button:hover {
    background-color: #16316c;
    -webkit-tap-highlight-color: #0d1e42; }
  .darkblue-button:active {
    background-color: #fdeed8; }

/* == PMS 2727 == */
.moderateblue-button {
  background-color: #577bbd;
  color: white; }
  .moderateblue-button:hover {
    background-color: #3f62a2;
    -webkit-tap-highlight-color: #314c7d; }
  .moderateblue-button:active {
    background-color: #fdeed8; }

/* == PMS 3145 == */
.darkcyan-button {
  background-color: #048499;
  color: white; }
  .darkcyan-button:hover {
    background-color: #035967;
    -webkit-tap-highlight-color: #012e36; }
  .darkcyan-button:active {
    background-color: #fdeed8; }

/* == PMS 356 == */
.darkgreen-button {
  background-color: #018241;
  color: white; }
  .darkgreen-button:hover {
    background-color: #014f28;
    -webkit-tap-highlight-color: #001d0e; }
  .darkgreen-button:active {
    background-color: #fdeed8; }

/* == PMS383 == */
.green-button {
  background-color: #91ae3c;
  color: white; }
  .green-button:hover {
    background-color: #71882f;
    -webkit-tap-highlight-color: #526222; }
  .green-button:active {
    background-color: #fdeed8; }

/* == PMS109 == */
.yellow-button {
  background-color: #fedc00;
  color: black; }
  .yellow-button:hover {
    background-color: #cbb000;
    -webkit-tap-highlight-color: #988400; }
  .yellow-button:active {
    background-color: #fdeed8; }

/* == PMS1235 == */
.vividorange-button {
  background-color: #faad1d;
  color: white; }
  .vividorange-button:hover {
    background-color: #df9305;
    -webkit-tap-highlight-color: #ad7204; }
  .vividorange-button:active {
    background-color: #fdeed8; }

/* == PMS1795 == */
.vividred-button {
  background-color: #ec2126;
  color: white; }
  .vividred-button:hover {
    background-color: #c91116;
    -webkit-tap-highlight-color: #9a0d11; }
  .vividred-button:active {
    background-color: #fdeed8; }

/* == PMS484 == */
.darkred-button {
  background-color: #9e2420;
  color: white; }
  .darkred-button:hover {
    background-color: #741a17;
    -webkit-tap-highlight-color: #49110f; }
  .darkred-button:active {
    background-color: #fdeed8; }

/* ========== Button States ========== */
.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1; }

.no-style-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #f30;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0; }
  .no-style-button:hover {
    text-decoration: none; }

.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999; }

/* COLORS */
/* NKF ORANGE */
/* see - http://blog.12spokes.com/web-design-development/simple-css-color-management-with-sass/ */
/* see - http://robots.thoughtbot.com/post/12974565313/controlling-color-with-sass-color-functions */
/* NKF BLACK */
/* PMS 274 */
/* PMS REFLEXBLUE */
/* PMS 2727 */
/* PMS 3145 */
/* PMS 356 */
/* PMS 383 */
/* PMS 109 */
/* PMS 1235 */
/* PMS 1795 */
/* PMS 484 */
/* for wireframing purposes only */
#header,
#main,
#footer {
  background: url(../images/grid.png) top center repeat-y; }

/*
.row {
	background:rgba($black-color,0.2);
}*/
/* DOC THEME */
.row .col {
  background: rgba(236, 33, 38, 0.5);
  color: white;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase; }
  .row .col .col {
    background: rgba(4, 132, 153, 0.5); }

#footer .row .col {
  background: rgba(38, 34, 94, 0.5); }

/*
.col .col {
	background:$black-color-lightest;
	color:rgba($black-color,0.2);
}
*/
/* TABLET */
@media only screen and (min-width: 740px) and (max-width: 1029px) {
  #main {
    background: url(../images/grid-tablet.png) top center repeat-y; } }
/* MOBILE */
@media only screen and (max-width: 739px) {
  #main {
    background-image: url(../images/grid-mobile.png);
    background-position: center;
    background-repeat: repeat-y; } }
