/* ==========================================================================

  NKF Theme Stylesheet
  Author: Calvin Harris
  Version: 0.1 - Last Updated: 26th August, 2013

========================================================================== */
/* ==========================================================================

  Base Stylesheet - SMACCS [ http://smacss.com/book/type-base ]
  A Base rule is applied to an element using an element selector,
  a descendent selector, or a child selector, along with any pseudo-classes.
  It doesn’t include any class or ID selectors.
  
  BASE FrameWork - [ http://git.io/base ]
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* ==========================================================================

  Base Stylesheet - http://git.io/base
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* COLORS */
/* NKF ORANGE */
/* see - http://blog.12spokes.com/web-design-development/simple-css-color-management-with-sass/ */
/* see - http://robots.thoughtbot.com/post/12974565313/controlling-color-with-sass-color-functions */
/* NKF BLACK */
/* PMS 274 */
/* PMS REFLEXBLUE */
/* PMS 2727 */
/* PMS 3145 */
/* PMS 356 */
/* PMS 383 */
/* PMS 109 */
/* PMS 1235 */
/* PMS 1795 */
/* PMS 484 */
/* COLORS */
/* line 4, ../../scss/themes/nkf-color.scss */
.orange {
  background: #f15e22;
  padding: 10px 0;
}

/* line 5, ../../scss/themes/nkf-color.scss */
.orange-light {
  background: #f48152;
  padding: 10px 0;
}

/* line 6, ../../scss/themes/nkf-color.scss */
.orange-lighter {
  background: #f7a482;
  padding: 10px 0;
}

/* line 7, ../../scss/themes/nkf-color.scss */
.orange-dark {
  background: #d3470d;
  padding: 10px 0;
}

/* line 8, ../../scss/themes/nkf-color.scss */
.orange-darker {
  background: #a3360a;
  padding: 10px 0;
}

/* line 10, ../../scss/themes/nkf-color.scss */
.black {
  background: black;
  padding: 10px 0;
}

/* line 11, ../../scss/themes/nkf-color.scss */
.black-light {
  background: #1a1a1a;
  padding: 10px 0;
}

/* line 12, ../../scss/themes/nkf-color.scss */
.black-lighter {
  background: #333333;
  padding: 10px 0;
}

/* line 13, ../../scss/themes/nkf-color.scss */
.black-lightest {
  background: #4d4d4d;
  padding: 10px 0;
}

/* line 14, ../../scss/themes/nkf-color.scss */
.white {
  background: white;
  padding: 10px 0;
}

/* line 16, ../../scss/themes/nkf-color.scss */
.pms274 {
  background: #26225e;
  padding: 10px 0;
}

/* line 17, ../../scss/themes/nkf-color.scss */
.pms274-light {
  background: #353083;
  padding: 10px 0;
}

/* line 18, ../../scss/themes/nkf-color.scss */
.pms274-lighter {
  background: #443da9;
  padding: 10px 0;
}

/* line 19, ../../scss/themes/nkf-color.scss */
.pms274-dark {
  background: #171439;
  padding: 10px 0;
}

/* line 20, ../../scss/themes/nkf-color.scss */
.pms274-darker {
  background: #080713;
  padding: 10px 0;
}

/* line 22, ../../scss/themes/nkf-color.scss */
.reflexblue {
  background: #1e4497;
  padding: 10px 0;
}

/* line 23, ../../scss/themes/nkf-color.scss */
.reflexblue-light {
  background: #2657c2;
  padding: 10px 0;
}

/* line 24, ../../scss/themes/nkf-color.scss */
.reflexblue-lighter {
  background: #4271d9;
  padding: 10px 0;
}

/* line 25, ../../scss/themes/nkf-color.scss */
.reflexblue-dark {
  background: #16316c;
  padding: 10px 0;
}

/* line 26, ../../scss/themes/nkf-color.scss */
.reflexblue-darker {
  background: #0d1e42;
  padding: 10px 0;
}

/* line 28, ../../scss/themes/nkf-color.scss */
.pms2727 {
  background: #577bbd;
  padding: 10px 0;
}

/* line 29, ../../scss/themes/nkf-color.scss */
.pms2727-light {
  background: #7c98cb;
  padding: 10px 0;
}

/* line 30, ../../scss/themes/nkf-color.scss */
.pms2727-lighter {
  background: #a0b5da;
  padding: 10px 0;
}

/* line 31, ../../scss/themes/nkf-color.scss */
.pms2727-dark {
  background: #3f62a2;
  padding: 10px 0;
}

/* line 32, ../../scss/themes/nkf-color.scss */
.pms2727-darker {
  background: #314c7d;
  padding: 10px 0;
}

/* line 34, ../../scss/themes/nkf-color.scss */
.pms3145 {
  background: #048499;
  padding: 10px 0;
}

/* line 35, ../../scss/themes/nkf-color.scss */
.pms3145-light {
  background: #05afcb;
  padding: 10px 0;
}

/* line 36, ../../scss/themes/nkf-color.scss */
.pms3145-lighter {
  background: #0ad7f9;
  padding: 10px 0;
}

/* line 37, ../../scss/themes/nkf-color.scss */
.pms3145-dark {
  background: #035967;
  padding: 10px 0;
}

/* line 38, ../../scss/themes/nkf-color.scss */
.pms3145-darker {
  background: #012e36;
  padding: 10px 0;
}

/* line 40, ../../scss/themes/nkf-color.scss */
.pms356 {
  background: #018241;
  padding: 10px 0;
}

/* line 41, ../../scss/themes/nkf-color.scss */
.pms356-light {
  background: #01b55a;
  padding: 10px 0;
}

/* line 42, ../../scss/themes/nkf-color.scss */
.pms356-lighter {
  background: #02e774;
  padding: 10px 0;
}

/* line 43, ../../scss/themes/nkf-color.scss */
.pms356-dark {
  background: #014f28;
  padding: 10px 0;
}

/* line 44, ../../scss/themes/nkf-color.scss */
.pms356-darker {
  background: #001d0e;
  padding: 10px 0;
}

/* line 46, ../../scss/themes/nkf-color.scss */
.pms383 {
  background: #91ae3c;
  padding: 10px 0;
}

/* line 47, ../../scss/themes/nkf-color.scss */
.pms383-light {
  background: #a9c558;
  padding: 10px 0;
}

/* line 48, ../../scss/themes/nkf-color.scss */
.pms383-lighter {
  background: #bdd27e;
  padding: 10px 0;
}

/* line 49, ../../scss/themes/nkf-color.scss */
.pms383-dark {
  background: #71882f;
  padding: 10px 0;
}

/* line 50, ../../scss/themes/nkf-color.scss */
.pms383-darker {
  background: #526222;
  padding: 10px 0;
}

/* line 52, ../../scss/themes/nkf-color.scss */
.pms109 {
  background: #fedc00;
  padding: 10px 0;
}

/* line 53, ../../scss/themes/nkf-color.scss */
.pms109-light {
  background: #ffe432;
  padding: 10px 0;
}

/* line 54, ../../scss/themes/nkf-color.scss */
.pms109-lighter {
  background: #ffea65;
  padding: 10px 0;
}

/* line 55, ../../scss/themes/nkf-color.scss */
.pms109-dark {
  background: #cbb000;
  padding: 10px 0;
}

/* line 56, ../../scss/themes/nkf-color.scss */
.pms109-darker {
  background: #988400;
  padding: 10px 0;
}

/* line 58, ../../scss/themes/nkf-color.scss */
.pms1235 {
  background: #faad1d;
  padding: 10px 0;
}

/* line 59, ../../scss/themes/nkf-color.scss */
.pms1235-light {
  background: #fbbf4f;
  padding: 10px 0;
}

/* line 60, ../../scss/themes/nkf-color.scss */
.pms1235-lighter {
  background: #fcd181;
  padding: 10px 0;
}

/* line 61, ../../scss/themes/nkf-color.scss */
.pms1235-dark {
  background: #df9305;
  padding: 10px 0;
}

/* line 62, ../../scss/themes/nkf-color.scss */
.pms1235-darker {
  background: #ad7204;
  padding: 10px 0;
}

/* line 64, ../../scss/themes/nkf-color.scss */
.pms1795 {
  background: #ec2126;
  padding: 10px 0;
}

/* line 65, ../../scss/themes/nkf-color.scss */
.pms1795-light {
  background: #f05054;
  padding: 10px 0;
}

/* line 66, ../../scss/themes/nkf-color.scss */
.pms1795-lighter {
  background: #f47f82;
  padding: 10px 0;
}

/* line 67, ../../scss/themes/nkf-color.scss */
.pms1795-dark {
  background: #c91116;
  padding: 10px 0;
}

/* line 68, ../../scss/themes/nkf-color.scss */
.pms1795-darker {
  background: #9a0d11;
  padding: 10px 0;
}

/* line 70, ../../scss/themes/nkf-color.scss */
.pms484 {
  background: #9e2420;
  padding: 10px 0;
}

/* line 71, ../../scss/themes/nkf-color.scss */
.pms484-light {
  background: #c82e29;
  padding: 10px 0;
}

/* line 72, ../../scss/themes/nkf-color.scss */
.pms484-lighter {
  background: #da4e4a;
  padding: 10px 0;
}

/* line 73, ../../scss/themes/nkf-color.scss */
.pms484-dark {
  background: #741a17;
  padding: 10px 0;
}

/* line 74, ../../scss/themes/nkf-color.scss */
.pms484-darker {
  background: #49110f;
  padding: 10px 0;
}

/* General Resets */
/* line 48, ../../scss/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, ../../scss/base/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 50, ../../scss/base/_base.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 51, ../../scss/base/_base.scss */
body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

/* line 52, ../../scss/base/_base.scss */
html {
  font-size: 100%;
}

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */
/* Micro Clearfix */
/* line 59, ../../scss/base/_base.scss */
.clear:before, .clear:after {
  content: "";
  display: table;
}

/* line 59, ../../scss/base/_base.scss */
.clear:after {
  clear: both;
}

/* line 59, ../../scss/base/_base.scss */
.clear {
  zoom: 1;
}

/* line 60, ../../scss/base/_base.scss */
.section:before, .section:after {
  content: "";
  display: table;
}

/* line 60, ../../scss/base/_base.scss */
.section:after {
  clear: both;
}

/* line 60, ../../scss/base/_base.scss */
.section {
  zoom: 1;
}

/* line 61, ../../scss/base/_base.scss */
.checkbox:before, .checkbox:after {
  content: "";
  display: table;
}

/* line 61, ../../scss/base/_base.scss */
.checkbox:after {
  clear: both;
}

/* line 61, ../../scss/base/_base.scss */
.checkbox {
  zoom: 1;
}

/* Helpers */
/* line 64, ../../scss/base/_base.scss */
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left;
}

/* line 65, ../../scss/base/_base.scss */
.right {
  float: right;
}

/* line 66, ../../scss/base/_base.scss */
.block, .alert, .checkbox {
  display: block;
}

/* line 67, ../../scss/base/_base.scss */
.inline-block, audio, canvas, video, .button {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 72, ../../scss/base/_base.scss */
.inline {
  display: inline;
}

/* line 73, ../../scss/base/_base.scss */
.strong, b, strong, dt, legend, input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: bold;
}

/* line 74, ../../scss/base/_base.scss */
.italic, dfn, blockquote {
  font-style: italic;
}

/* line 75, ../../scss/base/_base.scss */
.center-text {
  text-align: center;
}

/* line 77, ../../scss/base/_base.scss */
.none, .no-desktop, audio:not([controls]),
[hidden] {
  display: none;
}

/* line 80, ../../scss/base/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}

/* line 90, ../../scss/base/_base.scss */
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}

/* Alert */
/* line 99, ../../scss/base/_base.scss */
.alert {
  background-color: #ffc;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
/* line 112, ../../scss/base/_base.scss */
body {
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Strong and Italic */
/* Links */
/* line 124, ../../scss/base/_base.scss */
a {
  color: #f30;
}

/* line 125, ../../scss/base/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 126, ../../scss/base/_base.scss */
a:focus {
  outline: thin dotted;
}

/* line 127, ../../scss/base/_base.scss */
a:active, a:hover {
  outline: 0;
}

/* Paragraph and Small */
/* line 131, ../../scss/base/_base.scss */
p, pre {
  margin: 1em 0;
}

/* line 132, ../../scss/base/_base.scss */
small {
  font-size: 80%;
}

/* Abbreviations */
/* line 135, ../../scss/base/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Audio */
/* line 141, ../../scss/base/_base.scss */
audio:not([controls]) {
  height: 0;
}

/* Small, 
Sub and Sup */
/* line 148, ../../scss/base/_base.scss */
small {
  font-size: 80%;
}

/* line 149, ../../scss/base/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 155, ../../scss/base/_base.scss */
sup {
  top: -.5em;
}

/* line 156, ../../scss/base/_base.scss */
sub {
  bottom: -.25em;
}

/* Definition */
/* Images */
/* line 162, ../../scss/base/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 166, ../../scss/base/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 167, ../../scss/base/_base.scss */
figure {
  margin: 0;
}

/* line 169, ../../scss/base/_base.scss */
.image-left {
  margin-right: 20px;
}

/* line 170, ../../scss/base/_base.scss */
.image-right {
  margin-left: 20px;
}

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
/* line 175, ../../scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* line 179, ../../scss/base/_base.scss */
h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .2em;
}

/* line 183, ../../scss/base/_base.scss */
h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em;
}

/* line 187, ../../scss/base/_base.scss */
h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em;
}

/* line 191, ../../scss/base/_base.scss */
h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
}

/* line 195, ../../scss/base/_base.scss */
h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

/* line 199, ../../scss/base/_base.scss */
h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em;
}

/* Reset Heading */
/* line 204, ../../scss/base/_base.scss */
.no-style-heading {
  font-size: 100%;
  margin: 0;
}

/* Horizontal Rule */
/* line 210, ../../scss/base/_base.scss */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

/* 1.2 Quotes and Code - block quotes, quotes, code, pre, etc
   ========================================================================== */
/* Block Quotes and Quotes */
/* line 226, ../../scss/base/_base.scss */
blockquote {
  font-family: "Georgia", "Times" serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #777;
  margin: 1em 0;
}

/* line 233, ../../scss/base/_base.scss */
cite {
  color: #222;
  font-style: normal;
}

/* line 238, ../../scss/base/_base.scss */
q {
  quotes: none;
}

/* line 239, ../../scss/base/_base.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* Mark */
/* line 245, ../../scss/base/_base.scss */
mark {
  background: #ff0;
  color: #111;
}

/* Code */
/* line 251, ../../scss/base/_base.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 256, ../../scss/base/_base.scss */
code {
  color: #111;
  padding: 2px 5px;
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* 1.3 Lists
   ========================================================================== */
/* line 265, ../../scss/base/_base.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 268, ../../scss/base/_base.scss */
ul ul, ol ol, ul ol, ol ul {
  margin: 0;
}

/* line 269, ../../scss/base/_base.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 271, ../../scss/base/_base.scss */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 272, ../../scss/base/_base.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* Remove Styling from List */
/* line 277, ../../scss/base/_base.scss */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 1.4 Tables
   ========================================================================== */
/* line 285, ../../scss/base/_base.scss */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal;
}

/* line 297, ../../scss/base/_base.scss */
table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

/* line 304, ../../scss/base/_base.scss */
table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #e1e1e1;
  color: #333;
}

/* line 310, ../../scss/base/_base.scss */
table tfoot td {
  font-weight: bold;
}

/* line 313, ../../scss/base/_base.scss */
table caption {
  padding: 0.5em;
  font-style: italic;
  background-color: #eee;
  border-bottom: 0;
  font-weight: bold;
}

/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
/* line 323, ../../scss/base/_base.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* line 327, ../../scss/base/_base.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 334, ../../scss/base/_base.scss */
label {
  cursor: pointer;
}

/* line 336, ../../scss/base/_base.scss */
button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 347, ../../scss/base/_base.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  color: #777;
  border: 1px solid #ddd;
  border-top: 1px solid #999;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 361, ../../scss/base/_base.scss */
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 369, ../../scss/base/_base.scss */
.checkbox {
  margin: .2em 0;
}
/* line 376, ../../scss/base/_base.scss */
.checkbox label {
  padding-left: 5px;
  overflow: hidden;
  display: table;
  *zoom: 1;
}

/* line 384, ../../scss/base/_base.scss */
button, input {
  line-height: normal;
}

/* line 385, ../../scss/base/_base.scss */
button, select {
  text-transform: none;
}

/* Buttons */
/* line 391, ../../scss/base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 398, ../../scss/base/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 400, ../../scss/base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 407, ../../scss/base/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 409, ../../scss/base/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 413, ../../scss/base/_base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

/* Custom Buttons */
/* line 420, ../../scss/base/_base.scss */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 1em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}

/* line 430, ../../scss/base/_base.scss */
.orange-button {
  background-color: #fee9cc;
}
/* line 433, ../../scss/base/_base.scss */
.orange-button:hover {
  background-color: #ffe0b5;
  -webkit-tap-highlight-color: #fdeed8;
}
/* line 437, ../../scss/base/_base.scss */
.orange-button:active {
  background-color: #fdeed8;
}

/* line 442, ../../scss/base/_base.scss */
.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1;
}

/* line 447, ../../scss/base/_base.scss */
.no-style-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #f30;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0;
}
/* line 458, ../../scss/base/_base.scss */
.no-style-button:hover {
  text-decoration: none;
}

/* line 463, ../../scss/base/_base.scss */
.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999;
}

/* General Resets */
/* line 2, ../../scss/base/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../../scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 4, ../../scss/base/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 5, ../../scss/base/_reset.scss */
body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

/* line 6, ../../scss/base/_reset.scss */
html {
  font-size: 100%;
}

/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
/* line 5, ../../scss/layout/_grid.scss */
.section {
  position: relative;
}

/* Rows */
/* line 9, ../../scss/layout/_grid.scss */
.row {
  margin: .5em 0;
}

/* line 10, ../../scss/layout/_grid.scss */
.row-one {
  margin: 1em 0;
}

/* line 11, ../../scss/layout/_grid.scss */
.row-two {
  margin: 2em 0;
}

/* line 12, ../../scss/layout/_grid.scss */
.row-three {
  margin: 3em 0;
}

/* line 14, ../../scss/layout/_grid.scss */
.center, .container, .container-full {
  margin-left: auto;
  margin-right: auto;
}

/* line 19, ../../scss/layout/_grid.scss */
.container {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 25, ../../scss/layout/_grid.scss */
.container-full {
  max-width: 980px;
}

/* Fluid Grid */
/* line 31, ../../scss/layout/_grid.scss */
.col {
  margin-left: 2%;
  float: left;
}

/* line 35, ../../scss/layout/_grid.scss */
.col:first-child {
  margin-left: 0;
}

/* Columns */
/* line 38, ../../scss/layout/_grid.scss */
.one {
  width: 6.5%;
  *width: expression(Math.floor(0.065 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 42, ../../scss/layout/_grid.scss */
.two {
  width: 15%;
  *width: expression(Math.floor(0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 46, ../../scss/layout/_grid.scss */
.three, .quarter {
  width: 23.5%;
  *width: expression(Math.floor(0.235 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 50, ../../scss/layout/_grid.scss */
.four, .one-third {
  width: 32%;
  *width: expression(Math.floor(0.32 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 54, ../../scss/layout/_grid.scss */
.five {
  width: 40.5%;
  *width: expression(Math.floor(0.405 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 59, ../../scss/layout/_grid.scss */
.six, .half {
  width: 49.0%;
  *width: expression(Math.floor(0.49 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 63, ../../scss/layout/_grid.scss */
.seven {
  width: 57.5%;
  *width: expression(Math.floor(0.575 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 67, ../../scss/layout/_grid.scss */
.eight {
  width: 66%;
  *width: expression(Math.floor(0.66 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 71, ../../scss/layout/_grid.scss */
.nine {
  width: 74.5%;
  *width: expression(Math.floor(0.745 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 75, ../../scss/layout/_grid.scss */
.ten {
  width: 83%;
  *width: expression(Math.floor(0.83 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 79, ../../scss/layout/_grid.scss */
.eleven {
  width: 91.5%;
  *width: expression(Math.floor(0.915 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 83, ../../scss/layout/_grid.scss */
.twelve {
  width: 100%;
}

/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 740px) and (max-width: 999px) {
  /* line 103, ../../scss/layout/_grid.scss */
  .container, .tablet-container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Tablet Grid
  * For stacking full width columns, please use the new class .tablet-full */
  /* line 111, ../../scss/layout/_grid.scss */
  .tablet-one {
    width: 6.5%;
  }

  /* line 112, ../../scss/layout/_grid.scss */
  .tablet-two {
    width: 15%;
  }

  /* line 113, ../../scss/layout/_grid.scss */
  .tablet-three {
    width: 23.5%;
  }

  /* line 114, ../../scss/layout/_grid.scss */
  .tablet-four {
    width: 32%;
  }

  /* line 115, ../../scss/layout/_grid.scss */
  .tablet-five {
    width: 40.5%;
  }

  /* line 116, ../../scss/layout/_grid.scss */
  .tablet-six {
    width: 49.0%;
  }

  /* line 117, ../../scss/layout/_grid.scss */
  .tablet-seven {
    width: 57.5%;
  }

  /* line 118, ../../scss/layout/_grid.scss */
  .tablet-eight {
    width: 66%;
  }

  /* line 119, ../../scss/layout/_grid.scss */
  .tablet-nine {
    width: 74.5%;
  }

  /* line 120, ../../scss/layout/_grid.scss */
  .tablet-ten {
    width: 83%;
  }

  /* line 121, ../../scss/layout/_grid.scss */
  .tablet-eleven {
    width: 91.5%;
  }

  /* line 122, ../../scss/layout/_grid.scss */
  .tablet-twelve {
    width: 100%;
  }

  /* line 124, ../../scss/layout/_grid.scss */
  .tablet-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
  }

  /* line 131, ../../scss/layout/_grid.scss */
  .tablet-full:first-child {
    margin-top: 0;
  }

  /* line 135, ../../scss/layout/_grid.scss */
  .tablet-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 140, ../../scss/layout/_grid.scss */
  .tablet-left {
    float: left;
  }

  /* line 141, ../../scss/layout/_grid.scss */
  .tablet-right {
    float: right;
  }

  /* line 142, ../../scss/layout/_grid.scss */
  .tablet-no-float {
    float: none;
  }

  /* line 144, ../../scss/layout/_grid.scss */
  .tablet-center:first-child {
    margin-left: auto;
  }

  /* line 145, ../../scss/layout/_grid.scss */
  .tablet-center-text {
    text-align: center;
  }

  /* line 149, ../../scss/layout/_grid.scss */
  .no-tablet {
    display: none;
  }

  /* line 150, ../../scss/layout/_grid.scss */
  .show-tablet {
    display: block;
  }
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 739px) {
  /* Mobile Grid
  * For stacking full width columns, please use the new class .mobile-full */
  /* line 172, ../../scss/layout/_grid.scss */
  .mobile-one {
    width: 6.5%;
  }

  /* line 173, ../../scss/layout/_grid.scss */
  .mobile-two {
    width: 15%;
  }

  /* line 174, ../../scss/layout/_grid.scss */
  .mobile-three {
    width: 23.5%;
  }

  /* line 175, ../../scss/layout/_grid.scss */
  .mobile-four {
    width: 32%;
  }

  /* line 176, ../../scss/layout/_grid.scss */
  .mobile-five {
    width: 40.5%;
  }

  /* line 177, ../../scss/layout/_grid.scss */
  .mobile-six {
    width: 49.0%;
  }

  /* line 178, ../../scss/layout/_grid.scss */
  .mobile-seven {
    width: 57.5%;
  }

  /* line 179, ../../scss/layout/_grid.scss */
  .mobile-eight {
    width: 66%;
  }

  /* line 180, ../../scss/layout/_grid.scss */
  .mobile-nine {
    width: 74.5%;
  }

  /* line 181, ../../scss/layout/_grid.scss */
  .mobile-ten {
    width: 83%;
  }

  /* line 182, ../../scss/layout/_grid.scss */
  .mobile-eleven {
    width: 91.5%;
  }

  /* line 183, ../../scss/layout/_grid.scss */
  .mobile-twelve {
    width: 100%;
  }

  /* line 185, ../../scss/layout/_grid.scss */
  .mobile-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
  }

  /* line 192, ../../scss/layout/_grid.scss */
  .mobile-full:first-child {
    margin-top: 0;
  }

  /* line 195, ../../scss/layout/_grid.scss */
  .mobile-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 200, ../../scss/layout/_grid.scss */
  .mobile-center:first-child {
    margin-left: auto;
  }

  /* line 201, ../../scss/layout/_grid.scss */
  .mobile-center-text {
    text-align: center;
  }

  /* line 204, ../../scss/layout/_grid.scss */
  .mobile-left {
    float: left;
  }

  /* line 205, ../../scss/layout/_grid.scss */
  .mobile-right {
    float: right;
  }

  /* line 206, ../../scss/layout/_grid.scss */
  .mobile-no-float {
    float: none;
  }

  /* line 208, ../../scss/layout/_grid.scss */
  .container, .mobile-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Mobile Tables */
  /* line 215, ../../scss/layout/_grid.scss */
  table th,
  table td {
    padding: 4px;
  }

  /* line 219, ../../scss/layout/_grid.scss */
  .no-mobile {
    display: none;
  }

  /* line 220, ../../scss/layout/_grid.scss */
  .show-mobile {
    display: block;
  }
}
/* End Mobile Media Query */
/* Header */
/* Main */
/* Footer */
/* ========= MASTHEAD ========= */
/* Logo */
/* searchbox */
/* sub nav */
/* line 3, ../../scss/modules/_primary-nav.scss */
.primary-nav ul li {
  float: left;
}

@media only screen and (min-width: 720px) and (max-width: 979px) {
  /* line 12, ../../scss/modules/_primary-nav.scss */
  .primary-nav ul li {
    margin-left: 5px;
  }
  /* line 14, ../../scss/modules/_primary-nav.scss */
  .primary-nav ul li a {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 719px) {
  /* line 20, ../../scss/modules/_primary-nav.scss */
  .nav-toggle {
    display: block;
    background-color: #4d4d4d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }

  /* line 29, ../../scss/modules/_primary-nav.scss */
  .nav-toggle:hover,
  .nav-toggle:active,
  .nav-toggle.active {
    background-color: #444;
    color: #fff;
  }

  /* line 33, ../../scss/modules/_primary-nav.scss */
  .primary-nav {
    float: none;
    position: static;
  }

  /* line 37, ../../scss/modules/_primary-nav.scss */
  .primary-nav ul {
    float: none;
    margin: 0;
    padding: 0;
  }

  /* line 42, ../../scss/modules/_primary-nav.scss */
  .primary-nav ul li {
    float: none;
    margin-left: 0;
  }

  /* line 46, ../../scss/modules/_primary-nav.scss */
  .primary-nav ul li a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-transform: none;
    background-color: #222;
  }

  /* line 53, ../../scss/modules/_primary-nav.scss */
  .primary-nav ul li a:hover {
    background-color: #444;
  }
}
/* ========== MAIN ========== */
/* Rotating Stories */
/* ==== Primary Sidebar ==== */
/* Rotating Stories */
/* AddThis */
/* Donate Button */
/* Local Events */
/* Newsletters */
/* Calendar */
/* Social Connect */
/* Blog */
/* Resource Guide */
/* AddThis */
/* Blog */
/* Blog */
/* Calendar */
/* Calendar */
/* Donate Button */
/* Donate Button */
/* Local Events */
/* Local Events */
/* Newsletters */
/* Newsletters */
/* Resource Guide */
/* Resource Guide */
/* Social Connect */
/* Social Connect */
/* ==========================================================================
  
  State Stylesheet - SMACCS [ http://smacss.com/book/type-state ]
  
  A state is something that augments and overrides all other styles. 
  For example, an accordion section may be in a collapsed or expanded state. 
  A message may be in a success or error state.

   ========================================================================== */
/* NKF THEME */
/* line 42, ../../scss/themes/nkf.scss */
.container {
  max-width: 990px;
}

/* line 46, ../../scss/themes/nkf.scss */
.container-full {
  max-width: 1010px;
}
