!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		/ %link{:rel => "stylesheet", :href => "css/wireframe.css"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		/ [if lt IE9] <script src="js/shiv.js"></script>

	%body
		#header
			%nav.top-bar
				%h1.left NKF Style Guide
				%ul
					%li
						%a{:href => "index.html", :class => ""} Landing
					%li.dropdown
						%a{:href => "styles.html", :class => "current dropdown-toggle"} Styles
						%ul.dropdown-menu	
							%li.menu-item 
								%a{:href => "grid.html", :class => "dropdown"} Grid
								%ul
									%li 
										%a{:href => "fullwidth.html"} Full-Width
									%li 
										%a{:href => "two-columns.html"} Two-Columns
									%li 
										%a{:href => "three-columns.html"} Three-Columns
									%li
										%a{:href => "footer.html"} Footer 
							%li.menu-item
								%a{:href => "layout.html"} Layout
								%ul
									%li
										%a{:href => "home.html"} Home
									%li 
										%a{:href => "two-deep.html"} Two-Deep
									%li 
										%a{:href => "three-deep.html"} Three-Deep
		#main.main-topbar
			.container
				.section.row
					.left-column.col.four.mobile-full
						%ul.side-nav
							%li
								%a{:href => "grid.html"} Grid
							%li.active Color Palette
							%li 
								%a{:href => "typography.html"} Typography
							%li 
								%a{:href => "tables.html"} Tables
							%li 
								%a{:href => "forms.html"} Forms
							%li
								%a{:href => "buttons.html"} Buttons
					.right-column.col.eight.mobile-full
						.title.title-middle
							%h1 Primary NKF colors
						.section.row
							.col.eight.tablet-six.mobile-six
								%h6 Orange
								%div{:class => "orange-darker"}
								%div{:class => "orange-dark"}
								%div{:class => "orange"}
								%div{:class => "orange-light"}
								%div{:class => "orange-lighter"}
							.col.four.tablet-six.mobile-six
								%h6 Black
								%div{:class => "black"}
								%div{:class => "black-light"}
								%div{:class => "black-lighter"}
								%div{:class => "black-lightest"}
								%div{:class => "white"}
						.section.row 
							.col.twelve
								.title.title-top
									%h2 Secondary NKF colors
						.section.row	
							.col.three.mobile-full
								%h6 Very Dark Blue
								%div{:class => "pms274-darker"}
								%div{:class => "pms274-dark"}
								%div{:class => "pms274"}
								%div{:class => "pms274-light"}
								%div{:class => "pms274-lighter"}	
							.col.three.mobile-full
								%h6 Dark Blue
								%div{:class => "reflexblue-darker"}
								%div{:class => "reflexblue-dark"}
								%div{:class => "reflexblue"}
								%div{:class => "reflexblue-light"}
								%div{:class => "reflexblue-lighter"}
							.col.three.mobile-full
								%h6 Moderate Blue
								%div{:class => "pms2727-darker"}
								%div{:class => "pms2727-dark"}
								%div{:class => "pms2727"}
								%div{:class => "pms2727-light"}
								%div{:class => "pms2727-lighter"}
							.col.three.mobile-full
								%h6 Dark Cyan
								%div{:class => "pms3145-darker"}
								%div{:class => "pms3145-dark"}
								%div{:class => "pms3145"}
								%div{:class => "pms3145-light"}
								%div{:class => "pms3145-lighter"}
						.section.row
							.col.three.mobile-full
								%h6 Dark Green
								%div{:class => "pms356-darker"}
								%div{:class => "pms356-dark"}
								%div{:class => "pms356"}
								%div{:class => "pms356-light"}
								%div{:class => "pms356-lighter"}
							.col.three.mobile-full
								%h6 Green
								%div{:class => "pms383-darker"}
								%div{:class => "pms383-dark"}
								%div{:class => "pms383"}
								%div{:class => "pms383-light"}
								%div{:class => "pms383-lighter"}
							.col.three.mobile-full
								%h6 Yellow
								%div{:class => "pms109-darker"}
								%div{:class => "pms109-dark"}
								%div{:class => "pms109"}
								%div{:class => "pms109-light"}
								%div{:class => "pms109-lighter"}
							.col.three.mobile-full
								%h6 Vivid Orange
								%div{:class => "pms1235-darker"}
								%div{:class => "pms1235-dark"}
								%div{:class => "pms1235"}
								%div{:class => "pms1235-light"}
								%div{:class => "pms1235-lighter"}
						.section.row
							.col.three.mobile-full
								%h6 Vivid Red
								%div{:class => "pms1795-darker"}
								%div{:class => "pms1795-dark"}
								%div{:class => "pms1795"}
								%div{:class => "pms1795-light"}
								%div{:class => "pms1795-lighter"}	
							.col.three.mobile-full
								%h6 Dark Red
								%div{:class => "pms484-darker"}
								%div{:class => "pms484-dark"}
								%div{:class => "pms484"}
								%div{:class => "pms484-light"}
								%div{:class => "pms484-lighter"}	
							.col.three.mobile-sfull
							.col.three.mobile-full

		#footer
			.container
				.section.row
					.left-column.col.eight
					.right-column.col.four

		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src => "js/default.js"}

		/ Google Analytics: change UA-XXXXX-X to your website's ID.
		%script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-2200653-1', 'kidney.org'); ga('send', 'pageview');

		%a{:name => "top"}

		
