/* ==========================================================================

  Framework Theme Stylesheet
  Author: Calvin Harris
  Version: 0.1 - Last Updated: 12th August, 2013

========================================================================== */

/* DOC THEME */
	.row .col {
		background:#ccc;
		color:#111;
		font-weight: bold;
		padding-top: 4px;
		padding-bottom: 4px;
		text-align: center;
		text-transform: uppercase;
	}

