!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		/ [if lt IE9] <script src="js/shiv.js"></script>

		/ typekit
		%script{:type => "text/javascript", :src => "//use.typekit.net/doy3lrx.js"}
		%script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

	%body.landingpage
		#header
			%nav.top-bar
				%h1.left NKF Style Guide
				.nav-toggle.no-desktop.no-tablet.no-mobile
					%a{:href => "#"}
						MENU 
						%span{:class => "arrow"} +
				%ul
					%li
						%a{:href => "index.html", :class => "current"} Landing
					%li.dropdown
						%a{:href => "styles.html", :class => "dropdown-toggle"} Styles
						%ul.dropdown-menu	
							%li.menu-item 
								%a{:href => "grid.html", :class => "dropdown"} Grid
								%ul
									%li 
										%a{:href => "fullwidth.html"} Full-Width
									%li 
										%a{:href => "two-columns.html"} Two-Columns
									%li 
										%a{:href => "three-columns.html"} Three-Columns
									%li
										%a{:href => "footer.html"} Footer 
							%li.menu-item
								%a{:href => "layout.html"} Layout
								%ul
									%li
										%a{:href => "home.html"} Home
									%li 
										%a{:href => "two-deep.html"} Two-Deep
									%li 
										%a{:href => "three-deep.html"} Three-Deep
							%li.menu-item
								%a{:href => "color.html"} Color Palette
							%li.menu-item
								%a{:href => "typography.html"} Typography
							%li.menu-item
								%a{:href => "tables.html"} Tables
							%li.menu-item
								%a{:href => "forms.html"} Forms
							%li.menu-item
								%a{:href => "buttons.html"} Buttons
							%li.menu-item
								%a{:href => "modules.html", :class => "current"}Modules
								%ul
									%li 
										%a{:href => "modules_bloglist.html"}Blog&nbsp;List
									%li
										%a{:href => "modules_calendar.html"} Calendar
									%li
										%a{:href => "modules_calltoaction.html"} Call&nbsp;to&nbsp;Action
									%li
										%a{:href => "modules_carousel.html"} Carousel
									%li
										%a{:href => "modules_excerpt.html"} Excerpt
									%li
										%a{:href => "modules_icons.html"} Icons
									%li
										%a{:href => "modules_localevents.html"} Local&nbsp;Events
									%li
										%a{:href => "modules_logo.html"} Logo
									%li
										%a{:href => "modules_newsletters.html"} Newsletters
									%li
										%a{:href => "modules_pagination.html"} Pagination
									%li
										%a{:href => "modules_primarynav.html"} Primary&nbsp;Nav
									%li
										%a{:href => "modules_rotatingstories.html"} Rotating&nbsp;Stories
									%li
										%a{:href => "modules_searchbox.html"} Searchbox
									%li
										%a{:href => "modules_sidenav.html"} Side&nbsp;Nav
									%li
										%a{:href => "modules_socialconnect.html"} Social&nbsp;Connect
									%li
										%a{:href => "modules_subnav.html"} Sub&nbsp;Nav
									%li
										%a{:href => "modules_tabs.html"} Tabs
									%li
										%a{:href => "modules_titles.html"} Titles
									%li
										%a{:href => "modules_topnews.html"} Top&nbsp;News
		#main.main-topbar
			.container
				.section.row
					.col.twelve.tablet-full.mobile-full
						.landingpage-content
							%h2 NKF
							%h4 
								Responsive
								%br
								Style Guide
							%p Front-end UI and responsive deliverables based on the NKF Brand ID
							 
							%ul{:class => "lp"}
								%li 
									%a{:href => "grid.html"} Grid
								%li 
									%a{:href => "layout.html"} Layout
								%li 
									%a{:href => "color.html"} Color Palette
								%li 
									%a{:href => "typography.html"} Typography
								%li 
									%a{:href => "tables.html"} Tables
								%li 
									%a{:href => "forms.html"} Forms
								%li 
									%a{:href => "buttons.html"} Buttons
								%li 
									%a{:href => "modules.html"} Modules
					.col.twelve
						.footnotes.landingpage-content-footnotes
							%ol
								%li 
									%p
										%a{:href => "http://daverupert.com/2013/04/responsive-deliverables/?codekitCB=404060364.670257"} Responsive Deliverables

								%li
									%p
										%a{:href => "http://sideproject.io/front-end-and-ui-style-guides/"} Front-end and UI style guides
								%li
									%p
										%a{:href => "http://www.flickr.com/photos/alfonsojimenez/5941711327/sizes/o/"} Flickr Credit: Alfonso Jimenez
		#footer
			.container
				.section.row
					.left-column.col.eight
					.right-column.col.four

		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src => "js/default.js"}

		/ Google Analytics: change UA-XXXXX-X to your website's ID.
		%script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-2200653-1', 'kidney.org'); ga('send', 'pageview');

		%a{:name => "top"}

		
