!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		
		/ [if lt IE9] <script src => "js/shiv.js"}</script>		

		%link{:href => "http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css", :rel => "stylesheet", :type => "text/css"}
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js", :type => "text/javascript"}
		/ load css brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js", :type => "text/javascript"}
		/ load xml,xhtml, xslt, html, xhtml brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js", :type => "text/javascript"}
		/ load js, jscript, javascript brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js", :type => "text/javascript"}
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js", :type => "text/javascript"}

		/ typekit
		%script{:type => "text/javascript", :src => "//use.typekit.net/doy3lrx.js"}
		%script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

	%body				
		%ul.side-nav.side-nav-fixed.side-nav-fixed-tab
			%li.logo
				%a{:href => "#"}
					%img{:src => "images/NKF-logo_Hori_W.png"}
			%li 
				%a{:href => "modules_bloglist.html"}Blog List
			%li
				%a{:href => "modules_calendar.html"} Calendar
			%li
				%a{:href => "modules_calltoaction.html"} Call to Action
			%li
				%a{:href => "modules_carousel.html"} Carousel
			%li.active Excerpt
			%li
				%a{:href => "modules_icons.html"} Icons
			%li
				%a{:href => "modules_localevents.html"} Local Events
			%li
				%a{:href => "modules_logo.html"} Logo
			%li
				%a{:href => "modules_newsletters.html"} Newsletters
			%li
				%a{:href => "modules_pagination.html"} Pagination
			%li
				%a{:href => "modules_primarynav.html"} Primary Nav
			%li
				%a{:href => "modules_rotatingstories.html"} Rotating Stories
			%li
				%a{:href => "modules_searchbox.html"} Searchbox
			%li
				%a{:href => "modules_sidenav.html"} Side Nav
			%li
				%a{:href => "modules_socialconnect.html"} Social Connect
			%li
				%a{:href => "modules_subnav.html"} Sub Nav
			%li
				%a{:href => "modules_tabs.html"} Tabs
			%li
				%a{:href => "modules_titles.html"} Titles
			%li
				%a{:href => "modules_topnews.html"} Top News
			

		#main.main-topbar-fixed.main-side-nav-fixed-tabs
			.container
				.title.title-middle
					%h1 Modules
				%nav.crumb
					%ul
						%li
							%a{:href => "modules.html"} Modules
						%li.active Excerpt
				.title.title-top
					%h2 Excerpt
					%h3 Homepage version (default)
					.section 
						.col.twelve
							%h4.title full-column
					.section
						.col.twelve.excerpt
							%header
								%h2 Post / Page Title
								.photo.left
									%img{:src => "http://placehold.it/1280x720"}
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.

								%p Suspendisse iaculis adipiscing augue, sed pellentesque felis convallis ut. Fusce imperdiet tincidunt tellus. Sed ligula urna, feugiat commodo leo ut, scelerisque sagittis libero. Morbi nulla augue, sagittis sit amet vulputate a, hendrerit eu elit. Aliquam semper ultricies neque vitae molestie. Morbi erat dolor, eleifend nec volutpat at, vestibulum in est. Curabitur fringilla facilisis libero non feugiat. Nam dapibus turpis ac ultricies blandit. Cras non facilisis quam, eget cursus enim. Praesent pharetra pretium mi a vestibulum. Fusce elementum semper posuere. Donec mollis diam sed sollicitudin condimentum.

								%p Integer fermentum purus luctus, molestie leo eget, tristique nisl. Curabitur egestas lorem non dui fermentum auctor. Suspendisse potenti. Donec facilisis posuere commodo. Suspendisse cursus odio nibh, eu lacinia sem euismod at. Suspendisse potenti. Nullam hendrerit quis neque eget pretium.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.twelve.excerpt
							%header
								%h2 Post / Page Title
								.photo.left
									%img{:src => "http://placehold.it/1280x720"}
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.

								%p Suspendisse iaculis adipiscing augue, sed pellentesque felis convallis ut. Fusce imperdiet tincidunt tellus. Sed ligula urna, feugiat commodo leo ut, scelerisque sagittis libero. Morbi nulla augue, sagittis sit amet vulputate a, hendrerit eu elit. Aliquam semper ultricies neque vitae molestie. Morbi erat dolor, eleifend nec volutpat at, vestibulum in est. Curabitur fringilla facilisis libero non feugiat. Nam dapibus turpis ac ultricies blandit. Cras non facilisis quam, eget cursus enim. Praesent pharetra pretium mi a vestibulum. Fusce elementum semper posuere. Donec mollis diam sed sollicitudin condimentum.

								%p Integer fermentum purus luctus, molestie leo eget, tristique nisl. Curabitur egestas lorem non dui fermentum auctor. Suspendisse potenti. Donec facilisis posuere commodo. Suspendisse cursus odio nibh, eu lacinia sem euismod at. Suspendisse potenti. Nullam hendrerit quis neque eget pretium.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title two-columns
					.section
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/640x360"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/640x360"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/640x360"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title three-columns
					.section
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/320x180"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/320x180"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/320x180"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/320x180"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title four-columns
					.section
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/160x90"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/160x90"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/160x90"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/160x90"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.	
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 Post / Page Title
							.photo.left
								%img{:src => "http://placehold.it/160x90"}
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					%h3 two-deep landing page version
					.section 
						.col.twelve
							%h4.title full-column
					.section	
						.col.twelve.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/1280x720"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.twelve.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/1280x720"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title two-columns
					.section
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/640x360"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/640x360"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/640x360"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title three-columns
					.section
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/320x180"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/320x180"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/320x180"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.four.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/320x180"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title four-columns
					.section
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%p code snippet:
					%pre{:class => "brush: html; toolbar:false;"}
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%script{:type => "text/javascript"}
						SyntaxHighlighter.all()
					%hr
					.section 
						.col.twelve
							%h4.title two-columns-alt [9][3]
					.section
						.col.nine.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/1280x720"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%hr
					.section 
						.col.twelve
							%h4.title two-columns-alt [3][9]
					.section
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.nine.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/1280x720"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%hr
					.section 
						.col.twelve
							%h4.title three-columns-alt [6][3][3]
					.section
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/640x360"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%hr
					.section 
						.col.twelve
							%h4.title three-columns-alt [3][3][6]
					.section
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/640x360"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
					%hr
					.section 
						.col.twelve
							%h4.title three-columns-alt [3][6][3]
					.section
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.six.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/640x360"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.
						.col.three.tablet-full.mobile-full.excerpt
							%header
								%h2 
									.photo
										%img{:src => "http://placehold.it/160x90"}
									%a{:href => "#"} Post / Page Title
								%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tincidunt dolor. In sit amet lectus non lorem gravida ullamcorper egestas in sapien. Aenean mollis nisl nunc, in elementum diam aliquet eget. Nullam ultrices, velit in accumsan rutrum, elit odio elementum elit, vel luctus sapien est sed tortor. Phasellus hendrerit mauris et augue pharetra rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Donec aliquam dignissim pharetra. Fusce sit amet lectus massa. Sed tempus mollis aliquet.