!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		%link{:rel => "stylesheet", :href => "css/wireframe.css"}
		/ [if lt IE9] <script src => "js/shiv.js"}</script>

	%body		
		#header
			%nav.top-bar
				%h1.left NKF Style Guide
				%ul
					%li
						%a{:href => "index.html", :class => ""} Landing
					%li.dropdown
						%a{:href => "styles.html", :class => "current dropdown-toggle"} Styles
						%ul.dropdown-menu	
							%li.menu-item 
								%a{:href => "grid.html", :class => "dropdown"} Grid
								%ul
									%li 
										%a{:href => "fullwidth.html"} Full-Width
									%li 
										%a{:href => "two-columns.html"} Two-Columns
									%li 
										%a{:href => "three-columns.html"} Three-Columns
									%li
										%a{:href => "footer.html"} Footer 
							%li.menu-item
								%a{:href => "layout.html"} Layout
								%ul
									%li
										%a{:href => "home.html"} Home
									%li 
										%a{:href => "two-deep.html"} Two-Deep
									%li 
										%a{:href => "three-deep.html"} Three-Deep
		%a{:id => "full"}
		#billboard
			.container
				.title.title-middle
					%h1 Modules
				%nav.crumb
					%ul
						%li.active Modules

				.title.title-top
					%h2 Blog List
					.blog-list.clear
						%h4.title.title-module 
							%img{:src => "http://placehold.it/36"}
							Read Our Blogs
						%ul
							%li 
								%a{:href => ""} Ask The Doctor
							%li 
								%a{:href => ""} Advocacy in Action
							%li 
								%a{:href => ""} Staying Healthy
							%li 
								%a{:href => ""} Kidney Walk Talk
							%li 
								%a{:href => ""} The Pressure Point
				.title.title-top
					%h2 Calendar
					.calendar
						%h4.title.title-module 
							%img{:src => "http://placehold.it/36"}
							Calendar of Events
						.calendar-events
							%h5 October
							%ul
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Patient Empowerment Workshop
									.calendar-event-date
										October 17, 2013
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Kidney Assessment
									.calendar-event-date
										October 19, 2013
							%h5 November
							%ul
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Patient Empowerment Workshop
									.calendar-event-date
										October 17, 2013
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Kidney Assessment
									.calendar-event-date
										October 19, 2013
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Kidney Assessment
									.calendar-event-date
										October 19, 2013
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Kidney Assessment
									.calendar-event-date
										October 19, 2013
								%li
									.calendar-event-title
										%a{:href => "", :class => "info"}Kidney Assessment
									.calendar-event-date
										October 19, 2013
				.title.title-top
					%h2 Carousel
				.title.title-top
					%h2 Donate Button
				.title.title-top
					%h2 Local Events
					.local-events.clear
						%h4.title.title-module 
							%img{:src => "http://placehold.it/36"}
							Find local offices & events
						%form.zip{:name => "zip_lookup", :action => "/about/local_info.cfm?search=zip", :method => "POST"}
							%input{:type => "Text", :name => "zip", :size => "10", :maxlength => "5", :value => "Search By Zip", :style => "font-size: 0.9em;", :onfocus => "clearIt(this)"}
							%input{:name => "Subscribe", :type => "submit", :id => "email-btn", :value => "Go", :title => "Search By Zip"}
						%form.state
							%label{:for => "select"}
							%select{:name => "select", :size => "1", :id => "select", :onchange => "if (this.selectedIndex>0)location.href=this.options[this.selectedIndex].value;"}
								%option{:value => ""}Search By State
								%option{:value => "/about/local_info.cfm?search=state&state=AL"}Alabama
								%option{:value => "/about/local_info.cfm?search=state&state=AK"}Alaska
								%option{:value => "/about/local_info.cfm?search=state&state=AZ"}Arizona
								%option{:value => "/about/local_info.cfm?search=state&state=AR"}Arkansas
								%option{:value => "/about/local_info.cfm?search=state&state=CA"}California
								%option{:value => "/about/local_info.cfm?search=state&state=CO"}Colorado
								%option{:value => "/about/local_info.cfm?search=state&state=CT"}Connecticut
								%option{:value => "/about/local_info.cfm?search=state&state=DE"}Delaware
								%option{:value => "/about/local_info.cfm?search=state&state=FL"}Florida
								%option{:value => "/about/local_info.cfm?search=state&state=GA"}Georgia
								%option{:value => "/about/local_info.cfm?search=state&state=HI"}Hawaii
								%option{:value => "/about/local_info.cfm?search=state&state=ID"}Idaho
								%option{:value => "/about/local_info.cfm?search=state&state=IL"}Illinois
								%option{:value => "/about/local_info.cfm?search=state&state=IN"}Indiana
								%option{:value => "/about/local_info.cfm?search=state&state=IA"}Iowa
								%option{:value => "/about/local_info.cfm?search=state&state=KS"}Kansas
								%option{:value => "/about/local_info.cfm?search=state&state=KY"}Kentucky
								%option{:value => "/about/local_info.cfm?search=state&state=LA"}Louisiana
								%option{:value => "/about/local_info.cfm?search=state&state=ME"}Maine
								%option{:value => "/about/local_info.cfm?search=state&state=MD"}Maryland
								%option{:value => "/about/local_info.cfm?search=state&state=MA"}Massachusetts
								%option{:value => "/about/local_info.cfm?search=state&state=MI"}Michigan
								%option{:value => "/about/local_info.cfm?search=state&state=MN"}Minnesota
								%option{:value => "/about/local_info.cfm?search=state&state=MS"}Mississippi
								%option{:value => "/about/local_info.cfm?search=state&state=MO"}Missouri
								%option{:value => "/about/local_info.cfm?search=state&state=MT"}Montana
								%option{:value => "/about/local_info.cfm?search=state&state=NE"}Nebraska
								%option{:value => "/about/local_info.cfm?search=state&state=NV"}Nevada
								%option{:value => "/about/local_info.cfm?search=state&state=NH"}New Hampshire
								%option{:value => "/about/local_info.cfm?search=state&state=NJ"}New Jersey
								%option{:value => "/about/local_info.cfm?search=state&state=NM"}New Mexico
								%option{:value => "/about/local_info.cfm?search=state&state=NY"}New York
								%option{:value => "/about/local_info.cfm?search=state&state=NC"}North Carolina
								%option{:value => "/about/local_info.cfm?search=state&state=ND"}North Dakota
								%option{:value => "/about/local_info.cfm?search=state&state=OH"}Ohio
								%option{:value => "/about/local_info.cfm?search=state&state=OK"}Oklahoma
								%option{:value => "/about/local_info.cfm?search=state&state=OR"}Oregon
								%option{:value => "/about/local_info.cfm?search=state&state=PA"}Pennsylvania
								%option{:value => "/about/local_info.cfm?search=state&state=PR"}Puerto Rico
								%option{:value => "/about/local_info.cfm?search=state&state=RI"}Rhode Island
								%option{:value => "/about/local_info.cfm?search=state&state=SC"}South Carolina
								%option{:value => "/about/local_info.cfm?search=state&state=SD"}South Dakota
								%option{:value => "/about/local_info.cfm?search=state&state=TN"}Tennessee
								%option{:value => "/about/local_info.cfm?search=state&state=TX"}Texas
								%option{:value => "/about/local_info.cfm?search=state&state=UT"}Utah
								%option{:value => "/about/local_info.cfm?search=state&state=VT"}Vermont
								%option{:value => "/about/local_info.cfm?search=state&state=VA"}Virginia
								%option{:value => "/about/local_info.cfm?search=state&state=WA"}Washington
								%option{:value => "/about/local_info.cfm?search=state&state=DC"}Washington DC
								%option{:value => "/about/local_info.cfm?search=state&state=WV"}West Virginia
								%option{:value => "/about/local_info.cfm?search=state&state=WI"}Wisconsin
								%option{:value => "/about/local_info.cfm?search=state&state=WY"}Wyoming
				.title.title-top
					%h2 News Alerts
				.title.title-top
					%h2 Newsletters
					.newsletters.clear
						%h4.title.title-module
							%img{:src => "http://placehold.it/36"}
							Love your kidneys newsletter
						%form{:method => "post", :name => "profileform", :action => "https://kidney.informz.net/clk/remote_post.asp"}
							%input{:type => "hidden", :name => "orig_email", :value => ""}
							%input{:title => "Email Address", :type => "text", :name => "email", :size => "25", :maxlength => "100", :value => "", :id => "email-text", :placeholder => "Email Address"}
							%input{:name => "Subscribe", :type => "submit", :id => "email-btn", :value => "Subscribe", :title => "Subscribe"}
							%input{:type => "hidden", :name => "OptoutInfo", :value => ""}
							%input{:type => "hidden", :name => "formats", :value => "3"}
							%input{:type => "hidden", :name => "fid", :value => "637"}
							%input{:type => "hidden", :name => "b", :value => "3069"}
							%input{:type => "hidden", :name => "returnUrl", :value => "http://www.kidney.org/index-test.cfm?zmsg=1&codekitCB=403720470.454301"}
						%p
							%a{:href => "http://www.kidney.org/news/newsletters.cfm"} Sign up for other free newsletters
				.title.title-top
					%h2 Pagination
				.title.title-top
					%h2 Primary Nav
					.primary-nav
						%ul
							%li.home
								%a{:href => "http://www.kidney.org/index.cfm"} Home
							%li.video
								%a{:href => "http://www.kidney.org/videos/"} Real Stories 
							%li.kd
								%a{:href => "http://www.kidney.org/kidneydisease/"} Kidney Disease
								.sublist.kidney
									%ul
										%li
											%a{:href => "http://www.kidney.org/atoz/"} A to Z Health Guide
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/aboutckd.cfm"} About Chronic Kidney Disease
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/askthedoctor.cfm"} Ask the Doctor
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/howkidneyswrk.cfm"} How Your Kidneys Work
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/threesimpletests.cfm"} Three Simple Tests to Check for Kidney Disease
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/recentlydiagnosed.cfm"} Recently Diagnosed
										%li
											%a{:href => "http://www.kidney.org/news/keephealthy/index.cfm"} KEEP Healthy - Free Kidney Health checks</a></li>
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/kidneyquiz.cfm"} Kidney Quiz
									.featured-story
										%h1 Featured Story
										.story
											%img{:src => "https://www.kidney.org/patients/images/DrSpry.jpg", :alt => "CKD", :border => "0", :class => "thumb left"}
											%h2 Ask the Doctor
											%p 
												Questions about kidney disease? Risk factors? Signs and symptoms? Are you concerned about yourself, a friend or family member?
												%a{:href => "http://www.kidney.org/kidneydisease/askthedoctor.cfm"} Ask Dr. Spry.
							%li.patients
								%a{:href => "http://www.kidney.org/patients/"} Patients
								.sublist.pat
									%ul
										%li
											%a{:href => "http://www.kidney.org/patients/peers/index.cfm"} Peers Support
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/askthedoctor.cfm"} Ask the Doctor
										%li
											%a{:href => "http://www.kidney.org/patients/kidneykitchen/"} Kidney Kitchen
										%li
											%a{:href => "http://www.kidney.org/atoz/atozTopic_Dialysis.cfm"} Dialysis
										%li
											%a{:href => "http://www.kidney.org/kidneydisease/"} Chronic Kidney Disease
										%li
											%a{:href => "http://www.kidney.org/patients/resources.cfm"} Patient &amp; Family Resources
										%li
											%a{:href => "http://www.kidney.org/help/index.cfm"} Emergency Resources
										%li
											%a{:href => "http://www.kidney.org/about/membership.cfm?jointype=om"} Join the NKF Family
										%li
											%a{:href => "http://www.kidney.org/store/index.cfm"} NKF Store
									.featured-story
										%h1 Featured Story
										.story
											%a{:href => "http://www.kidney.org/patients/kidneyliving/index.cfm?utm_source=nkfnav&utm_medium=nav&utm_campaign=KidneyLivingNews"}
												%img{:src => "https://www.kidney.org/images/kidneyLivingCover_new_ad.jpg", :border => "0", :class => "thumb left"}
											%h2 Are you a dialysis patient?
											%p
												%a{:href => "http://www.kidney.org/patients/kidneyliving/index.cfm?utm_source=nkfnav&utm_medium=nav&utm_campaign=KidneyLivingNews"} Sign up for our FREE  magazine, Kidney Living
							%li.organ
								%a{:href => "http://www.kidney.org/transplantation/"}Organ Donation &amp; Transplantation
								.sublist.organ
									%ul
										%li
											%a{:href => "http://www.kidney.org/transplantation/beadonor.cfm"} Be An Organ Donor
										%li
											%a{:href => "http://www.kidney.org/transplantation/livingdonors/index.cfm"} Living Donation
										%li
											%a{:href => "http://www.kidney.org/transplantation/donorfamilies/index.cfm"} Donor Families
										%li
											%a{:href => "http://www.kidney.org/transplantation/transaction/index.cfm"}Transplantation
										%li
											%a{:href => "http://www.kidney.org/transplantation/endthewait/index.cfm"} End The Wait!
										%li
											%a{:href => "http://www.kidney.org/about/membership.cfm"} Join the NKF Family
									.featured-story
										%h1 Featured Story
										.story
											%img{:src => "https://www.kidney.org/transplantation/images/Waiting-Xavier_320.jpg", :alt => "CKD", :border => "0", :class => "thumb left"}
											%h2 Be an Organ Donor
											%p
												Have you ever thought about donating an organ? Organ and tissue donation helps others by giving them a second chance at life.
												%a{:href => "http://www.kidney.org/transplantation/beadonor.cfm"} Learn more 
												about the donation process&ndash;and how to become an organ donor.
							%li.professionals
								%a{:href => "http://www.kidney.org/professionals/"} Professionals
								.sublist.prof
									%ul
										%li
											%a{:href => "http://www.kidney.org/professionals/kdoqi/gfr.cfm"} GFR
										%li
											%a{:href => "http://www.kidney.org/professionals/kls/cmeprograms.cfm"} CME/CE
										%li
											%a{:href => "http://www.kidney.org/professionals/physicians/index.cfm"} Physicians
										%li
											%a{:href => "http://www.kidney.org/professionals/CAP/index.cfm"} Advanced Practitioners
										%li
											%a{:href => "http://www.kidney.org/professionals/CNNT/index.cfm"} Nurses &amp; Technicians
										%li
											%a{:href => "http://www.kidney.org/professionals/CRN/index.cfm"} Dietitians
										%li
											%a{:href => "http://www.kidney.org/professionals/CNSW/index.cfm"} Social Workers
										%li
											%a{:href => "http://www.nkfclinicalmeetings.org/", :target => "_blank"} Spring Clinical Meetings
										%li
											%a{:href => "http://www.careers.kidney.org/"} Kidney Career Center
										%li
											%a{:href => "http://www.kidney.org/professionals/publications/index.cfm"} Journals
										%li
											%a{:href => "http://www.kidney.org/professionals/news/meetings.cfm"} Meetings
										%li
											%a{:href => "http://www.kidney.org/professionals/research/index.cfm"} Education &amp; Research
										%li
											%a{:href => "http://www.kidney.org/store/index.cfm"} NKF Store
									.featured-story
										%h1 Featured Story</h1>
										.story
											%img{:src => "https://www.kidney.org/professionals/images/GFR_320.jpg", :alt => "CKD", :border => "0", :class => "thumb left"}
											%h2 GFR
											%p
												You can estimate a GFR for adults or children using our GFR calculators or read a list of frequently asked questions pertaining to the current recommendations for the estimation of GFR
												%a{:href => "http://www.kidney.org/professionals/kdoqi/gfr.cfm"} Start here.
							%li.events
								%a{:href => "http://www.kidney.org/news/"}Events
								.sublist.events
									%ul
										%li
											%a{:href => "http://walk.kidney.org"} Kidney Walks
										%li
											%a{:href => "http://www.kidney.org/news/nkfgolfclassic/index.cfm"} NKF Cadillac Golf Classic
										%li
											%a{:href => "http://www.kidney.org/news/meetings/clinical/index.cfm"} Spring Clinical Meetings
										%li
											%a{:href => "http://www.kidney.org/news/keephealthy/index.cfm"} KEEP Healthy - Free Kidney Health checks
									.featured-story
										%h1 Featured Story</h1>
										.story
											%img{:src => "https://www.kidney.org/images/walk_320.jpg", :alt => "CKD", :border => "0", :class => "thumb left"}
											%h2 Kidney Walk
											%p Kidney Walks are designed to help people understand the need for early detection of kidney disease. In addition to raising funds for research and help for patients and their families, the Walk is a great way to bring the community together!
											%p 
												For more information about these and other 
												%a{:href => "http://www.kidney.org/events/index.cfm"} events
												please visit our Events section.
							%li.advocacy
								%a{:href =>"http://www.kidney.org/advocacy/"} Advocacy
								.sublist.advocacy
									%ul
										%li
											%a{:href => "http://www.kidney.org/advocacy/PublicPolicyPriorities.cfm"} Priorities for 113th Congress
										%li
											%a{:href => "http://www.kidney.org/advocacy/issues.cfm"} Issues and Legislation
										%li
											%a{:href => "http://www.kidney.org/takeaction/"} Take Action Center
										%li
											%a{:href => "http://www.kidney.org/advocacy/resources.cfm"} Advocacy Resources
									.featured-story
										%h1 Featured Story
										.story
											%a{:href => "http://donate.kidney.org/site/PageServer?pagename=ActionCenter"}
												%img{:src => "https://www.kidney.org/advocacy/images/TakeAction_320.JPG", :alt => "CKD", :border => "0", :class => "thumb left"}
											%h2 Take Action Center
											%p Provides the latest information about legislation and policy relating to chronic kidney disease, transplantation and donation. The featured action alerts allow you to easily advocate to your Members of Congress on these issues.
							%li.donate
								%a{:href => "http://www.kidney.org/support/"} Donate
								.sublist.donate
									%ul>
										%li
											%a{:href => "https://www.kidney.org/members/source/donations/index.cfm"} Make A Gift
										%li
											%a{:href => "http://www.kidney.org/transplantation/beadonor.cfm"} Be an Organ Donor
										%li
											%a{:href => "http://www.kidney.org/support/kidneycars/"} Car Donation
										%li
											%a{:href => "http://www.kidney.org/support/volunteer.cfm"} Volunteer
										%li
											%a{:href => "http://www.kidney.org/support/corporate_support.cfm"} Corporate Support
										%li
											%a{:href => "http://www.kidney.org/support/corporate_partners.cfm"} Corporate Partners
									.featured-story
										%h1 Featured Story
										.story
											%a{:class => "various fancybox.iframe", :href => "http://www.youtube.com/embed/KZkL71rYz_M?autoplay=1"}
												%img{:src => "https://www.kidney.org/images/bruce_video.jpg", :alt => "Bruce Skyer, Chief Executive Officer", :title => "Bruce Skyer, Chief Executive Officer", :class => "thumb left"}
											%h2 About the NKF
											%p
												%a{:class => "various fancybox.iframe", :href => "http://www.youtube.com/embed/KZkL71rYz_M?autoplay=1"} 
													Watch the Video
				.title.title-top
					%h2 Resource Guide
				.title.title-top
					%h2 Search Box
				.title.title-top
					%h2 Share Box
				.title.title-top
					%h2 Side Nav
					%ul.side-nav.sidenav-fixed
						%li
							%a{:href => "grid.html"} Grid
						%li
							%a{:href => "layout.html"} Layout
						%li
							%a{:href => "color.html"} Color Palette
						%li 
							%a{:href => "typography.html"} Typography
						%li 
							%a{:href => "tables.html"} Tables
						%li 
							%a{:href => "forms.html"} Forms
						%li
							%a{:href => "buttons.html"} Buttons
						%li 
							%a{:href => "modules.html"} Modules
				.title.title-top
					%h2 Social Connect
					.social-connect.clear
						%h4.title.title-module
							%img{:src => "http://placehold.it/36"}
							Connect with us
						%ul
							%li
								%img{:src => "http://placehold.it/48"}
							%li
								%img{:src => "http://placehold.it/48"}
							%li
								%img{:src => "http://placehold.it/48"}
							%li
								%img{:src => "http://placehold.it/48"}
							%li
								%img{:src => "http://placehold.it/48"}
							%li
								%img{:src => "http://placehold.it/48"}
							%li
								%img{:src => "http://placehold.it/48"}
				.title.title-top
					%h2 Sub Nav
					.sub-nav
						%ul
							%li
								%a{:href => "/atoz/atozTopic_Spanish_Brochures.cfm", :title => "En Espa&ntilde;ol", :style => "color:#F15E22 !important; font-weight:bold;"} En Espa&ntilde;ol
							%li
								%a{:href => "http://nkf.worksmartsuite.com/UserContentStart.aspx", :title => "Mission &amp; Vision"} NKF Store
							%li
								%a{:href => "/about/index.cfm", :title => "About Us"} About Us
							%li
								%a{:href => "/about/jobs.cfm", :title => "Career Opportunities"} Careers
							%li
								%a{:href => "/about/membership.cfm", :title => "Join NKF"} Join NKF
							%li
								%a{:href => "/news/newsroom/welcome.cfm", :title => "Newsroom"} Newsroom
							%li
								%a{:href => "/about/contact.cfm", :title => "Contact Us"} Contact Us
				.title.title-top
					%h2 Titles
				.title.title-top
					%h2 Top Bar
