!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		
		/ [if lt IE9] <script src => "js/shiv.js"}</script>		

		%link{:href => "http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css", :rel => "stylesheet", :type => "text/css"}
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js", :type => "text/javascript"}
		/ load css brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js", :type => "text/javascript"}
		/ load xml,xhtml, xslt, html, xhtml brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js", :type => "text/javascript"}
		/ load js, jscript, javascript brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js", :type => "text/javascript"}
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js", :type => "text/javascript"}

		/ typekit
		%script{:type => "text/javascript", :src => "//use.typekit.net/doy3lrx.js"}
		%script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

	%body				
		%ul.side-nav.side-nav-fixed.side-nav-fixed-tab
			%li.logo
				%a{:href => "#"}
					%img{:src => "images/NKF-logo_Hori_W.png"}
			%li 
				%a{:href => "modules_bloglist.html"}Blog List
			%li
				%a{:href => "modules_calendar.html"} Calendar
			%li
				%a{:href => "modules_calltoaction.html"} Call to Action
			%li
				%a{:href => "modules_carousel.html"} Carousel
			%li
				%a{:href => "modules_excerpt.html"} Excerpt
			%li.active Icons
			%li
				%a{:href => "modules_localevents.html"} Local Events
			%li
				%a{:href => "modules_logo.html"} Logo
			%li
				%a{:href => "modules_newsletters.html"} Newsletters
			%li
				%a{:href => "modules_pagination.html"} Pagination
			%li
				%a{:href => "modules_primarynav.html"} Primary Nav
			%li
				%a{:href => "modules_rotatingstories.html"} Rotating Stories
			%li
				%a{:href => "modules_searchbox.html"} Searchbox
			%li
				%a{:href => "modules_sidenav.html"} Side Nav
			%li
				%a{:href => "modules_socialconnect.html"} Social Connect
			%li
				%a{:href => "modules_subnav.html"} Sub Nav
			%li
				%a{:href => "modules_tabs.html"} Tabs
			%li
				%a{:href => "modules_titles.html"} Titles
			%li
				%a{:href => "modules_topnews.html"} Top News
			

		#main.main-topbar-fixed.main-side-nav-fixed-tabs
			.container
				.title.title-middle
					%h1 Modules
				%nav.crumb
					%ul
						%li
							%a{:href => "modules.html"} Modules
						%li.active Icons
				.title.title-top
					%h2 Icons
					.icon
						%ul.icon-social
							%li
								%a{:href => "#", :class => "is-500px", :title => "500px"} 500px
							%li
								%a{:href => "#", :class => "aboutme", :title => "About.me"} About.me
							%li
								%a{:href => "#", :class => "aim", :title => "About.me"} AIM
							%li
								%a{:href => "#", :class => "alistapart", :title => "A List Apart"} A List Apart
							%li
								%a{:href => "#", :class => "amazon", :title => "About.me"} About.me
							%li
								%a{:href => "#", :class => "amazonwishlist", :title => "Amazon Wish List"} Amazon Wish List
							%li
								%a{:href => "#", :class => "android", :title => "Android"} Android
							%li
								%a{:href => "#", :class => "angellist", :title => "Angel List"} Angel List
							%li
								%a{:href => "#", :class => "appdotnet", :title => "App.net"} App.net
							%li
								%a{:href => "#", :class => "apple", :title => "Apple"} Apple
							%li
								%a{:href => "#", :class => "audioboo", :title => "Audioboo"} Audioboo
							%li
								%a{:href => "#", :class => "aws", :title => "AWS"} AWS
							%li
								%a{:href => "#", :class => "basecamp", :title => "basecampe"} Basecamp
							%li
								%a{:href => "#", :class => "bebo", :title => "Beo"} bebo
							%li
								%a{:href => "#", :class => "behance", :title => "behance"} behance
							%li
								%a{:href => "#", :class => "bitbucket", :title => "bit bucket"} bitbucket
							%li
								%a{:href => "#", :class => "bitly", :title => "bit.ly"} Bit.ly
							%li
								%a{:href => "#", :class => "blip", :title => "blip"} blip
							%li
								%a{:href => "#", :class => "blogger", :title => "blogger"} blogger
							%li
								%a{:href => "#", :class => "bootstrap", :title => "bootstrap"} bootstrap
							%li
								%a{:href => "#", :class => "codecademy", :title => "Codecademy"} Codecademy
							%li
								%a{:href => "#", :class => "codepen", :title => "Codepen"} Codepen
							%li
								%a{:href => "#", :class => "coderbits", :title => "Codebits"} Codebits
							%li
								%a{:href => "#", :class => "coderwall", :title => "Coderwall"} Coderwall
							%li
								%a{:href => "#", :class => "codeschool", :title => "Code School"} Code School
							%li
								%a{:href => "#", :class => "conservatives", :title => "Conservatives"} Conservatives
							%li
								%a{:href => "#", :class => "coursera", :title => "Coursera"} Coursera
							%li
								%a{:href => "#", :class => "css3", :title => "CSS3"} CSS3
							%li
								%a{:href => "#", :class => "delicious", :title => "delicio.us"} delicio.us
							%li
								%a{:href => "#", :class => "designernews", :title => "About.me"} Designer News
							%li
								%a{:href => "#", :class => "deviantart", :title => "About.me"} DeviantArt
							%li
								%a{:href => "#", :class => "digg", :title => "Digg"} Digg
							%li
								%a{:href => "#", :class => "disqus", :title => "Disqus"} Disqus
							%li
								%a{:href => "#", :class => "dribbble", :title => "dribbble"} dribbble
							%li
								%a{:href => "#", :class => "dropbox", :title => "dropbox"} dropbox
							%li
								%a{:href => "#", :class => "drupal", :title => "drupal"} drupal
							%li
								%a{:href => "#", :class => "ebay", :title => "ebay"} ebay
							%li
								%a{:href => "#", :class => "email", :title => "email"} email
							%li
								%a{:href => "#", :class => "envato", :title => "Envato"} Envato
							%li
								%a{:href => "#", :class => "eventbrite", :title => "Eventbrite"} Eventbrite
							%li
								%a{:href => "#", :class => "eventstore", :title => "Eventstore"} Eventstore
							%li
								%a{:href => "#", :class => "evernote", :title => "Evernote"} Evernote
							%li
								%a{:href => "#", :class => "exfm", :title => "EXFM"} EXFM
							%li
								%a{:href => "#", :class => "facebook", :title => "Facebook"} facebook
							%li
								%a{:href => "#", :class => "flattr", :title => "flattr"} flattr
							%li
								%a{:href => "#", :class => "flickr", :title => "flickr"} flickr
							%li
								%a{:href => "#", :class => "formspring", :title => "formspring"} About.me
							%li
								%a{:href => "#", :class => "forrst", :title => "forrst"} forrst
							%li
								%a{:href => "#", :class => "foursquare", :title => "foursquare"} foursquare
							%li
								%a{:href => "#", :class => "geeklist", :title => "geeklist"} geeklist
							%li
								%a{:href => "#", :class => "github", :title => "github"} github
							%li
								%a{:href => "#", :class => "gmail", :title => "Gmail"} Gmail
							%li
								%a{:href => "#", :class => "goodreads", :title => "goodreads"} goodreads
							%li
								%a{:href => "#", :class => "google", :title => "google"} google
							%li
								%a{:href => "#", :class => "googleplus", :title => "google plus"} google plus
							%li
								%a{:href => "#", :class => "govuk", :title => "govuk"} govuk
							%li
								%a{:href => "#", :class => "gravatar", :title => "Gravatar"} Gravatar
							%li
								%a{:href => "#", :class => "grooveshark", :title => "Grooveshark"} Grooveshark
							%li
								%a{:href => "#", :class => "hackernews", :title => "Hacker News"} Hacker News
							%li
								%a{:href => "#", :class => "heroku", :title => "heroku"} heroku
							%li
								%a{:href => "#", :class => "html5", :title => "HTML5"} HTML5
							%li
								%a{:href => "#", :class => "imdb", :title => "IMDB"} IMDB
							%li
								%a{:href => "#", :class => "instagram", :title => "instagram"} instagram
							%li
								%a{:href => "#", :class => "jquery", :title => "jquery"} jquery
							%li
								%a{:href => "#", :class => "jqueryui", :title => "jquery ui"} jquery ui
							%li
								%a{:href => "#", :class => "jsdb", :title => "jsdb"} jsdb
							%li
								%a{:href => "#", :class => "jsfiddle", :title => "A List Apart"} A List Apart
							%li
								%a{:href => "#", :class => "justgiving", :title => "About.me"} Just Giving
							%li
								%a{:href => "#", :class => "khanacademy", :title => "About.me"} khan Academmy
							%li
								%a{:href => "#", :class => "kickstarter", :title => "About.me"} kickstarter
							%li
								%a{:href => "#", :class => "kik", :title => "Kik"} Kik
							%li
								%a{:href => "#", :class => "klout", :title => "Klout"} klout
							%li
								%a{:href => "#", :class => "labour", :title => "Labour"} Labour
							%li
								%a{:href => "#", :class => "laravel", :title => "laravel"} Laravel
							%li
								%a{:href => "#", :class => "lastfm", :title => "Last.fm"} last.fm
							%li
								%a{:href => "#", :class => "layervault", :title => "Layer Vault"} Layer Vault
							%li
								%a{:href => "#", :class => "letterboxd", :title => "Letterboxd"} Letterboxd
							%li
								%a{:href => "#", :class => "liberaldemocrats", :title => "Liberal Democrats"} Liberal Democrats
							%li
								%a{:href => "#", :class => "linkedin", :title => "LinedIn"} LinkedIn
							%li
								%a{:href => "#", :class => "livejournal", :title => "Live Journal"} Live Journal
							%li
								%a{:href => "#", :class => "mediatemple", :title => "mediatemple"} mediatemple
							%li
								%a{:href => "#", :class => "mendeley", :title => "medeley"} medely
							%li
								%a{:href => "#", :class => "microformats", :title => "microformats"} microformats
							%li
								%a{:href => "#", :class => "modernizr", :title => "modernizr"} modernizr
							%li
								%a{:href => "#", :class => "myspace", :title => "MySpace"} MySpace
							%li
								%a{:href => "#", :class => "mysql", :title => "MySQL"} mySQL
							%li
								%a{:href => "#", :class => "nationalrail", :title => "Natioanl Rail"} National Rail
							%li
								%a{:href => "#", :class => "newsvine", :title => "News Vine"} News Vine
							%li
								%a{:href => "#", :class => "office", :title => "Office"} Office
							%li
								%a{:href => "#", :class => "orkut", :title => "Orkut"} Orkut
							%li
								%a{:href => "#", :class => "outlook", :title => "Outlook"} Outlook
							%li
								%a{:href => "#", :class => "path", :title => "Path"} Path
							%li
								%a{:href => "#", :class => "php", :title => "A List Apart"} A List Apart
							%li
								%a{:href => "#", :class => "picasa", :title => "About.me"} Picasa
							%li
								%a{:href => "#", :class => "pinboard", :title => "Pinboard"} Pinboard
							%li
								%a{:href => "#", :class => "pingup", :title => "PingUp"} PingUp
							%li
								%a{:href => "#", :class => "pinterest", :title => "Pinterest"} Pinterest
							%li
								%a{:href => "#", :class => "pocket", :title => "Pocket"} Pocket
							%li
								%a{:href => "#", :class => "posterous", :title => "Posterous"} Posterous
							%li
								%a{:href => "#", :class => "protoio", :title => "Protoio"} Proto.io
							%li
								%a{:href => "#", :class => "quora", :title => "Quora"} Quora
							%li
								%a{:href => "#", :class => "rails", :title => "Rails"} Rails
							%li
								%a{:href => "#", :class => "rdio", :title => "rdio"} rdio
							%li
								%a{:href => "#", :class => "readability", :title => "Readability"} Readability
							%li
								%a{:href => "#", :class => "readmill", :title => "Readmill"} Readmill
							%li
								%a{:href => "#", :class => "reddit", :title => "Reddit"} Reddit
							%li
								%a{:href => "#", :class => "rss", :title => "RSS"} RSS
							%li
								%a{:href => "#", :class => "simpleicons", :title => "Simple Icons"} Simple Icons
							%li
								%a{:href => "#", :class => "sinaweibo", :title => "sinaweibo"} sinaweibo
							%li
								%a{:href => "#", :class => "skydrive", :title => "skydrive"} skydrive
							%li
								%a{:href => "#", :class => "skype", :title => "Skype"} Skype
							%li
								%a{:href => "#", :class => "slideshare", :title => "slideshare"} Slideshare
							%li
								%a{:href => "#", :class => "smashingmagazine", :title => "Smashing Magazine"} Smashing Magazine
							%li
								%a{:href => "#", :class => "soundcloud", :title => "Sound Cloud"} Sound Cloud
							%li
								%a{:href => "#", :class => "spotify", :title => "Spotify"} Spotify
							%li
								%a{:href => "#", :class => "squarespace", :title => "Squarespace"} Squarespace
							%li
								%a{:href => "#", :class => "stackexchange", :title => "Stack Exchange"} Stack Exchange
							%li
								%a{:href => "#", :class => "stackoverflow", :title => "Stack Overflow"} Stack Overflow
							%li
								%a{:href => "#", :class => "steam", :title => "Steam"} Steam
							%li
								%a{:href => "#", :class => "stumbleupon", :title => "Stumbleupon"} Stumbleupon
							%li
								%a{:href => "#", :class => "superuser", :title => "Super User"} Super User
							%li
								%a{:href => "#", :class => "ted", :title => "TED"} TED
							%li
								%a{:href => "#", :class => "trakt", :title => "trakkt"} Trakkt
							%li
								%a{:href => "#", :class => "treehouse", :title => "Treehouse"} Treehouse
							%li
								%a{:href => "#", :class => "tripadvisor", :title => "Trip Advisor"} Trip Advisor
							%li
								%a{:href => "#", :class => "tumblr", :title => "tumblr"} tumblr
							%li
								%a{:href => "#", :class => "twitch", :title => "Twitch"} Twitch
							%li
								%a{:href => "#", :class => "twitter", :title => "twitter"} twitter
							%li
								%a{:href => "#", :class => "typo3", :title => "typo3"} typo3
							%li
								%a{:href => "#", :class => "viadeo", :title => "Viadeo"} Viadeo
							%li
								%a{:href => "#", :class => "vimeo", :title => "Vimeo"} Vimeo
							%li
								%a{:href => "#", :class => "vine", :title => "A List Apart"} A List Apart
							%li
								%a{:href => "#", :class => "visualstudio", :title => "About.me"} About.me
							%li
								%a{:href => "#", :class => "w3c", :title => "About.me"} About.me
							%li
								%a{:href => "#", :class => "whatsapp", :title => "WhatsApp"} WhatsApp
							%li
								%a{:href => "#", :class => "wikipedia", :title => "Wikipedia"} Wikipedia
							%li
								%a{:href => "#", :class => "windows", :title => "Windows"} Windows
							%li
								%a{:href => "#", :class => "wordpress", :title => "Wordpress"} Wordpress
							%li
								%a{:href => "#", :class => "xbox", :title => "XBOX"} XBOX
							%li
								%a{:href => "#", :class => "xing", :title => "Xing"} Xing
							%li
								%a{:href => "#", :class => "yahoo", :title => "About.me"} Yahoo
							%li
								%a{:href => "#", :class => "yelp", :title => "About.me"} Yelp
							%li
								%a{:href => "#", :class => "youtube", :title => "About.me"} YouTube
							%li
								%a{:href => "#", :class => "zerply", :title => "About.me"} Zerply