!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		
		/ [if lt IE9] <script src => "js/shiv.js"}</script>		

		%link{:href => "http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css", :rel => "stylesheet", :type => "text/css"}
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js", :type => "text/javascript"}
		/ load css brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js", :type => "text/javascript"}
		/ load xml,xhtml, xslt, html, xhtml brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js", :type => "text/javascript"}
		/ load js, jscript, javascript brush
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js", :type => "text/javascript"}
		%script{:src => "http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js", :type => "text/javascript"}

		/ typekit
		%script{:type => "text/javascript", :src => "//use.typekit.net/doy3lrx.js"}
		%script{:type => "text/javascript"} try{Typekit.load();}catch(e){}

	%body				
		%ul.side-nav.side-nav-fixed.side-nav-fixed-tab
			%li.logo
				%a{:href => "#"}
					%img{:src => "images/NKF-logo_Hori_W.png"}
			%li 
				%a{:href => "modules_bloglist.html"}Blog List
			%li
				%a{:href => "modules_calendar.html"} Calendar
			%li.active Call to Action
			%li
				%a{:href => "modules_carousel.html"} Carousel
			%li
				%a{:href => "modules_excerpt.html"} Excerpt
			%li
				%a{:href => "modules_icons.html"} Icons
			%li
				%a{:href => "modules_localevents.html"} Local Events
			%li
				%a{:href => "modules_logo.html"} Logo
			%li
				%a{:href => "modules_newsletters.html"} Newsletters
			%li
				%a{:href => "modules_pagination.html"} Pagination
			%li
				%a{:href => "modules_primarynav.html"} Primary Nav
			%li
				%a{:href => "modules_rotatingstories.html"} Rotating Stories
			%li
				%a{:href => "modules_searchbox.html"} Searchbox
			%li
				%a{:href => "modules_sidenav.html"} Side Nav
			%li
				%a{:href => "modules_socialconnect.html"} Social Connect
			%li
				%a{:href => "modules_subnav.html"} Sub Nav
			%li
				%a{:href => "modules_tabs.html"} Tabs
			%li
				%a{:href => "modules_titles.html"} Titles
			%li
				%a{:href => "modules_topnews.html"} Top News
			

		#main.main-topbar-fixed.main-side-nav-fixed-tabs
			.container
				.title.title-middle
					%h1 Modules
				%nav.crumb
					%ul
						%li
							%a{:href => "modules.html"} Modules
						%li.active Call to Action

				.title.title-top
					%h2 Call to Action - Button
				.cta-button
					%a{:href => "#"}
						%h3 Support the NKF
						%h2 Donate Now
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-button
						%a{:href => "#"}
							%h3 Support the NKF
							%h2 Donate Now
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				%h3 Green
				.cta-button.green
					%a{:href => "#"}
						%h3 Support the NKF
						%h2 Donate Now
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-button.green
						%a{:href => "#"}
							%h3 Support the NKF
							%h2 Donate Now
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				%h3 Red
				.cta-button.red
					%a{:href => "#"}
						%h3 Support the NKF
						%h2 Donate Now
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-button.red
						%a{:href => "#"}
							%h3 Support the NKF
							%h2 Donate Now
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				%h3 Blue
				.cta-button.blue
					%a{:href => "#"}
						%h3 Support the NKF
						%h2 Donate Now
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-button.blue
						%a{:href => "#"}
							%h3 Support the NKF
							%h2 Donate Now
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				%h3 Yellow
				.cta-button.yellow
					%a{:href => "#"}
						%h3 Support the NKF
						%h2 Donate Now
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-button.yellow
						%a{:href => "#"}
							%h3 Support the NKF
							%h2 Donate Now
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				%h3 Black
				.cta-button.black
					%a{:href => "#"}
						%h3 Support the NKF
						%h2 Donate Now
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-button.black
						%a{:href => "#"}
							%h3 Support the NKF
							%h2 Donate Now
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				.title.title-top
					%h2 Call to Action - Card
				.cta-card
					.number 4.5 million
					Visits to www.kidney.org
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-card
						.number 4.5 million
						Visits to www.kidney.org
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()
				.cta-card
					Only
					.number 2%
					were previously aware of their diagnosis
				%p code snippet:
				%pre{:class => "brush: html; toolbar:false;"}
					.cta-card
						Only
						.number 2%
						were previously aware of their diagnosis
				%script{:type => "text/javascript"}
					SyntaxHighlighter.all()