!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc. - STYLES

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		/ [if lt IE9] <script src="js/shiv.js"></script>

	%body
		%ul.side-nav.side-nav-fixed.side-nav-fixed-tab
			%li.logo
				%a{:href => "#"}
					%img{:src => "images/NKF-logo_Hori_W.png"}
			%li
				%a{:href => "grid.html"} Grid
			%li
				%a{:href => "layout.html"} Layout
			%li
				%a{:href => "color.html"} Color Palette
			%li 
				%a{:href => "typography.html"} Typography
			%li.active Tables
			%li 
				%a{:href => "forms.html"} Forms
			%li
				%a{:href => "buttons.html"} Buttons
			%li 
				%a{:href => "modules.html"} Modules
		#main.main-topbar-fixed.main-side-nav-fixed-tabs
			.container
				.section.row
					.right-column.col.twelve
						.title.title-middles
							%h1 Tables
						%table
							%caption Table Caption (optional)
							%thead
								%tr
									%th Table Heading 1
									%th Table Heading 2
									%th Table Heading 3
									%th Table Heading 4
							%tbody
								%tr
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
								%tr
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
								%tr
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
								%tr
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
								%tr
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
									%td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
							%tfoot
								%tr
									%td Table Footer 1
									%td Table Footer 2
									%td Table Footer 3
									%td Table Footer 4
						
		#footer.fixed-side-nav-tabs
			.container
				.section.row
					.left-column.col.twelve
						%p
							%img{:src => "#", :title => "Awareness + Prevention + Treatment"}
						
						%p 
						%strong Our Mission 
						The National Kidney Foundation, a major voluntary nonprofit health organization, is dedicated to preventing kidney and urinary tract diseases, improving the health and well-being of individuals and families affected by kidney disease and increasing the availability of all organs for transplantation.

						%p 
						%strong Our Vision
						To enhance the lives of everyone with, at risk of or affected by kidney disease. 
						%a{:href => "#"} View Overview Video →

						%p The Better Business Bureau Wise Giving Alliance Charity Seal provides the giving public with an easily recognizable symbol which certifies that the National Kidney Foundation meets the comprehensive standards of America's most experienced charity evaluator.

						%p 
							%a{:href => "#"} Our Privacy Policy

						%p © 2013 National Kidney Foundation, Inc., 30 East 33rd Street, New York, NY 10016, 1-800-622-9010. We subscribe to the HONcode principles of the Health on the Net Foundation. Verify here
						
						%p
							%img{:src => "#", :title => "BBB"}
							%img{:src => "#", :title => "HON CODE"}
					

		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src => "js/default.js"}

		/ Google Analytics: change UA-XXXXX-X to your website's ID.
		%script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-2200653-1', 'kidney.org'); ga('send', 'pageview');

		%a{:name => "top"}

		
