!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		%link{:rel => "stylesheet", :href => "css/docs.css"}
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		/ [if lt IE9] <script src="js/shiv.js"></script>

	%body
		#header
			.container
				.section.row
					.col.six
						.logo
					.col.six
						.sub
						.search
		#nav
			.container
				.section.row
					%ul.col.twelve
		#main
			.container
				.section.row
					.left-column.col.eight.mobile-full
						%h1 Title
						%section{:class =>"left top"}
							%p Nam lacinia consectetur ipsum id eleifend. Vivamus dui leo, lacinia quis pharetra ac, scelerisque eget nunc. Praesent in turpis libero, id malesuada risus.
							%p Praesent semper convallis odio, vitae fringilla eros rhoncus quis. Pellentesque cursus convallis ante, ac feugiat velit rhoncus eu.
							%img{:src => "http://placehold.it/320"}
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor, est et egestas gravida, ligula quam tempor eros, et aliquet lacus turpis at quam. Nunc posuere enim non ligula tristique ut rutrum justo convallis. Cras mattis rutrum sapien, non auctor arcu consectetur aliquam. Vestibulum purus risus, accumsan vitae pellentesque non, auctor ut ligula. Nulla quam tellus, faucibus ut tempus vel, blandit vitae justo. Aliquam orci felis, facilisis id imperdiet sed, feugiat a odio. Morbi eu turpis malesuada sem vestibulum vestibulum interdum laoreet ipsum. Duis sit amet augue sapien, et cursus nisi. Phasellus dignissim malesuada nisi, sed rutrum mi vulputate eu. Duis dictum laoreet porttitor. Nulla facilisi. Nullam condimentum eros vel mi dignissim sit amet eleifend turpis pretium. Proin pulvinar luctus ligula, eget porta nulla luctus aliquam. Nam nec nunc vitae nisl malesuada rutrum ac eget nisi.
						%p Donec molestie ligula at metus dignissim feugiat. Fusce bibendum ornare ipsum vel vulputate. Phasellus in feugiat elit. Nullam id ligula urna, non suscipit diam. Nam velit eros, consequat a fringilla sed, malesuada in urna. Etiam gravida ligula cursus magna pulvinar tincidunt. Quisque eros lacus, aliquam in congue vel, aliquet at dolor. Mauris lacinia, felis ut dictum commodo, nisi purus scelerisque justo, sed ornare turpis lectus at turpis. Ut molestie elit ac ipsum pharetra pellentesque. Curabitur quis magna est. Nulla pharetra vulputate urna ut tincidunt. Mauris mattis elit et leo aliquam eu commodo libero pulvinar. Sed a turpis sed mauris malesuada interdum ut in nunc.
						%section{:class => "right"}
							%p Nam lacinia consectetur ipsum id eleifend. Vivamus dui leo, lacinia quis pharetra ac, scelerisque eget nunc. Praesent in turpis libero, id malesuada risus.
							%p Praesent semper convallis odio, vitae fringilla eros rhoncus quis. Pellentesque cursus convallis ante, ac feugiat velit rhoncus eu.
							%img{:src => "http://placehold.it/320"}
						%p Pellentesque purus lorem, aliquet eleifend sollicitudin in, rhoncus ut purus. Nunc cursus odio et felis semper non congue lectus tincidunt. Ut tellus dolor, gravida et mattis non, interdum sit amet metus. Nullam dapibus odio odio. Proin id nulla sapien. Sed in nulla nec mauris congue ultricies. Aliquam congue faucibus nisi at sollicitudin. Etiam nec sapien augue. Phasellus porttitor ante volutpat orci eleifend vehicula.
						%p Cras mauris elit, volutpat at tincidunt sed, rhoncus vel neque. Vestibulum ut nunc dui, scelerisque pretium ligula. Etiam placerat, metus vel ullamcorper consectetur, velit sem tincidunt tellus, nec mattis odio felis eu neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas interdum pharetra sapien vitae euismod. In lectus justo, ornare sit amet laoreet id, elementum vitae neque. Donec ut nisi nulla, et sollicitudin velit. Nullam leo eros, euismod scelerisque fringilla nec, varius vitae enim.
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor, est et egestas gravida, ligula quam tempor eros, et aliquet lacus turpis at quam. Nunc posuere enim non ligula tristique ut rutrum justo convallis. Cras mattis rutrum sapien, non auctor arcu consectetur aliquam. Vestibulum purus risus, accumsan vitae pellentesque non, auctor ut ligula. Nulla quam tellus, faucibus ut tempus vel, blandit vitae justo. Aliquam orci felis, facilisis id imperdiet sed, feugiat a odio. Morbi eu turpis malesuada sem vestibulum vestibulum interdum laoreet ipsum. Duis sit amet augue sapien, et cursus nisi. Phasellus dignissim malesuada nisi, sed rutrum mi vulputate eu. Duis dictum laoreet porttitor. Nulla facilisi. Nullam condimentum eros vel mi dignissim sit amet eleifend turpis pretium. Proin pulvinar luctus ligula, eget porta nulla luctus aliquam. Nam nec nunc vitae nisl malesuada rutrum ac eget nisi.
						%img{:src => "http://placehold.it/320", :class => "right thumb"}
						%p Donec molestie ligula at metus dignissim feugiat. Fusce bibendum ornare ipsum vel vulputate. Phasellus in feugiat elit. Nullam id ligula urna, non suscipit diam. Nam velit eros, consequat a fringilla sed, malesuada in urna. Etiam gravida ligula cursus magna pulvinar tincidunt. Quisque eros lacus, aliquam in congue vel, aliquet at dolor. Mauris lacinia, felis ut dictum commodo, nisi purus scelerisque justo, sed ornare turpis lectus at turpis. Ut molestie elit ac ipsum pharetra pellentesque. Curabitur quis magna est. Nulla pharetra vulputate urna ut tincidunt. Mauris mattis elit et leo aliquam eu commodo libero pulvinar. Sed a turpis sed mauris malesuada interdum ut in nunc.
						%img{:src => "http://placehold.it/320", :class => "left thumb2x"}
						%p Pellentesque purus lorem, aliquet eleifend sollicitudin in, rhoncus ut purus. Nunc cursus odio et felis semper non congue lectus tincidunt. Ut tellus dolor, gravida et mattis non, interdum sit amet metus. Nullam dapibus odio odio. Proin id nulla sapien. Sed in nulla nec mauris congue ultricies. Aliquam congue faucibus nisi at sollicitudin. Etiam nec sapien augue. Phasellus porttitor ante volutpat orci eleifend vehicula.
						%p Cras mauris elit, volutpat at tincidunt sed, rhoncus vel neque. Vestibulum ut nunc dui, scelerisque pretium ligula. Etiam placerat, metus vel ullamcorper consectetur, velit sem tincidunt tellus, nec mattis odio felis eu neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas interdum pharetra sapien vitae euismod. In lectus justo, ornare sit amet laoreet id, elementum vitae neque. Donec ut nisi nulla, et sollicitudin velit. Nullam leo eros, euismod scelerisque fringilla nec, varius vitae enim.
						%img{:src => "http://placehold.it/660x320", :class => "full"}
						%h2 Blockquote
						%blockquote
							%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							%cite — John Doe
						%blockquote
							%img{:src => "http://placehold.it/150", :class => "right thumb"}
							%p Plain text version w/ photo
							%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							%a{:href => "#"} nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							%ul
								%liLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								%liLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							%img{:src => "http://placehold.it/320", :class => "left thumb2x"}
							%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							%a{:href => "#"} tempor incididunt
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
							%p Donec molestie ligula at metus dignissim feugiat. Fusce bibendum ornare ipsum vel vulputate. Phasellus in feugiat elit. Nullam id ligula urna, non suscipit diam. Nam velit eros, consequat a fringilla sed, malesuada in urna. Etiam gravida ligula cursus magna pulvinar tincidunt. Quisque eros lacus, aliquam in congue vel, aliquet at dolor. Mauris lacinia, felis ut dictum commodo, nisi purus scelerisque justo, sed ornare turpis lectus at turpis. Ut molestie elit ac ipsum pharetra pellentesque. Curabitur quis magna est. Nulla pharetra vulputate urna ut tincidunt. Mauris mattis elit et leo aliquam eu commodo libero pulvinar. Sed a turpis sed mauris malesuada interdum ut in nunc.
							%img{:src => "http://placehold.it/660x320", :class => "full"}
					.right-column.col.four.mobile-full
						.addthis_box
						.donate_button_v3
						.local_events
						.newsletter
						.calendar
						.social-connect
						.blog
						.resource-guide
						
		#footer
			.container
				.section.row
					.left-column.col.eight
					.right-column.col.four

		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src => "js/default.js"}

		/ Google Analytics: change UA-XXXXX-X to your website's ID.
		%script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-2200653-1', 'kidney.org'); ga('send', 'pageview');

		%a{:name => "top"}

		
