!!!5
%html{:lang => "en", :class => "no-js"}
	%head
		%meta{:charset =>"utf-8"}
		%title The National Kidney Foundation, Inc.

		%meta{:name => "National Kidney Foundation", :content => "The National Kidney Foundation provides information on kidney disease and organ donation. Learn risk factors, prevention tips and more to keep your kidneys healthy."}
		%meta{:name => "description", :content => ""}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "57x57", :href => "/images/apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/images/apple-touch-icon-72x72.png"}
		%link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/images/apple-touch-icon-114x114.png"}
		%link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "http://www.kidney.org/Icons_144.png"}
		
		%link{:rel => "stylesheet", :href => "css/nkf.css"}
		%link{:rel => "stylesheet", :href => "css/wireframe.css"}
		/ [if lt IE9] <script src="js/shiv.js"></script>

	%body
		#header
			%nav.top-bar
				%h1.left NKF Style Guide
				%ul
					%li
						%a{:href => "index.html", :class => "current"} Landing
					%li.dropdown
						%a{:href => "styles.html", :class => "dropdown-toggle"} Styles
						%ul.dropdown-menu	
							%li.menu-item 
								%a{:href => "grid.html", :class => "dropdown"} Grid
								%ul
									%li 
										%a{:href => "fullwidth.html"} Full-Width
									%li 
										%a{:href => "two-columns.html"} Two-Columns
									%li 
										%a{:href => "three-columns.html"} Three-Columns
									%li
										%a{:href => "footer.html"} Footer 
							%li.menu-item
								%a{:href => "layout.html"} Layout
								%ul
									%li
										%a{:href => "home.html"} Home
									%li 
										%a{:href => "two-deep.html"} Two-Deep
									%li 
										%a{:href => "three-deep.html"} Three-Deep
							
		#billboard
			.container
				.title-bottom
					%h1 Two-Deep
				%nav.crumb.clear
					%ul
						%li
							%a{:href => "layout.html"} Layout
						%li.active Two-Deep
		#main.main-topbar
			.container
				.section.row
					.left-column.col.eight.tablet-full.mobile-full
						.section.row
							.col.twelve.mobile-full 12
						.section.row
							.col.six.mobile-full 6
							.col.six.mobile-full 6
						.section.row
							.col.four.mobile-full 4
							.col.four.mobile-full 4
							.col.four.mobile-full 4
						.section.row
							.col.three.mobile-full.mobile-full 3
							.col.three.mobile-full 3
							.col.three.mobile-full 3
							.col.three.mobile-full 3
						.section.row	
							
							.col.three.mobile-full 3
							.col.nine.mobile-full 9
						.section.row	
							
							.col.nine.mobile-full 9
							.col.three.mobile-full 3
						.section.row	
							
							.col.six.mobile-full 6
							.col.three.mobile-full 3
							.col.three.mobile-full 3
						.section.row	
							
							.col.three.mobile-full 3
							.col.six.mobile-full 6
							.col.three.mobile-full 3
						.section.row	
							
							.col.three.mobile-full 3
							.col.three.mobile-full 3
							.col.six.mobile-full 6
					.right-column.col.four.tablet-full.mobile-full
						
		#footer
			.container
				.section.row
					.left-column.col.eight
					.right-column.col.four

		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src => "js/default.js"}

		/ Google Analytics: change UA-XXXXX-X to your website's ID.
		%script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-2200653-1', 'kidney.org'); ga('send', 'pageview');

		%a{:name => "top"}

		
