/* Main */
#main {
	&.main-topbar{margin-top:60px;}
	&.main-side-nav-fixed-float {float:left; width:64.62745098039%; margin-right:20px}
	&.main-side-nav-fixed-tabs {float:left; margin-left:330px; width:64.627450980392%; margin-right:20px;
		.container{width:100%;}
	}
}

/* TABLET */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	#main{
		&.main-topbar{margin-top:100px;}
		&.main-side-nav-fixed-float{float:left; width:64.777777777778%; margin-right:20px;
			.container{width:100%;}
		}
		&.main-side-nav-fixed-tabs{float:left; margin-left:210px; width:66.777777777778%; margin-right:20px;
			.container{width:100%;}
		}
	}
}
/* MOBILE */
@media only screen and (max-width: $mobile-breakpoint) {
	#main{
		&.main-topbar{margin-top:0px;}
		&.main-side-nav-fixed-float{width:100%; margin-top:20px; margin-left:0; margin-right:0;}
		&.main-side-nav-fixed-tabs{width:100%; margin-top:20px; margin-left:0; margin-right:0;}
	}
}