/* ==========================================================================

  Wireframe Stylesheet
  Author: Calvin Harris
  Version: 0.1 - Last Updated: 26th August, 2013

========================================================================== */
@import "../base/_base";
@import "../utilities/_nkf-color-palette";
/* for wireframing purposes only */
#billboard {margin-top:60px;
	h1 {}
	}
#header,
#main,
#footer {background:url(../images/grid.png)top center repeat-y;}
/*
.row {
	background:rgba($black-color,0.2);
}*/
/* DOC THEME */

	.row .col {
		background: rgba($PMS-1795-color,0.5);
		color:$white-color;
		font-weight: bold;
		padding-top: 4px;
		padding-bottom: 4px;
		text-align: center;
		text-transform: uppercase;
		.col {background: rgba($PMS-3145-color,0.5);}
	}
	#footer .row .col{background: rgba($PMS-274-color,0.5);}
/*
.col .col {
	background:$black-color-lightest;
	color:rgba($black-color,0.2);
}
*/

/* TABLET */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	#main {background:url(../images/grid-tablet.png)top center repeat-y;}

	}
/* MOBILE */
@media only screen and (max-width: $mobile-breakpoint) {
	#main {background-image:url(../images/grid-mobile.png);
	background-position:center;
	background-repeat:repeat-y;
	}
}