.crumb {
	width:100%;line-height:normal; display:block;
	ul{line-height: normal; margin:0; padding:0; 
		li { float:left; padding: 10px 7px; color: $black-color;
			a{text-decoration: none; color: $black-color-lightest; padding-right:10px;}
      		a:hover {color:$primary-color;}
      		a:active {color: $primary-color-lighter;}
		}
		li.active {color:rgba($black-color,0.4);padding-right:10px;}
		li:first-child{margin-left:0;}
		li:after {content:" \2044"; color:rgba($black-color,0.2);}
		li.active:after{content:"";}
		li.unavailable{color:rgba($black-color, 0.2);}
		li.current {color:$primary-color;padding-right:10px;}
	}
}