.featured-story {display:block; float:left; width:170px; border-left:1px solid #ccc; padding:0 10px;
  h1 {border:none;height:0; margin-bottom:20px; text-transform:uppercase; font-weight:normal; font-size:10px;}
  .story {
    h2 {font-size:12px;}
    img {max-width:150px; height:auto;}
  }
    p { font-weight:normal; color:#000;
      a{
        &:visited{color:#273C76;}
        &:hover{color:#273C76; text-decoration:underline;}
      }
    }
  a {padding:0; margin:0; width:auto; display:inline;}
}

@media only screen and (min-width: 720px) and (max-width: 979px) {
  .featured-story{}
}
@media only screen and (max-width: 719px) {
	.featured-story {}
}