.footer-nav {float:right;
	dt a,
	dd a,
	li a {}
	dt.active a,
	dd.active a,
	li.active a {}
	ul,
	ol {width:100%; float:left;}
	li{list-style:none; padding:5px 0; text-transform:uppercase;}
	li a{
		color:$PMS-274-color; font-family:Verdana, Geneva, sans-serif; font-size:0.8rem;
		&:hover{color:$PMS-274-color-dark;text-decoration:underline;}
		&:visited{color:$PMS-274-color-darker;}
	}
}

/*TABLET */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	.footer-nav {float:left;
		ul, ol{float:left;}
	}
}

/* MOBILE */
@media only screen and (max-width: $mobile-breakpoint) {
	.footer-nav {float:left;
		ul, ol{
			li {float:left; margin-left:10px;
				&:first-child{}
			}
		}
	}
}