/* Titles */
.meta-top {border-top:1px solid #ccc;
	.meta {
		.media{background:#ccc; position:relative; float:left; left:auto;
			.img {height:30px; width:30px;} /* author photo */
			.text-micro{} /* author + tag / category + post date*/
			}
		}
	.tools {background:#ccc; position:absolute; right:0;
		.stats {} /* share + comment stats */
	}
}
.meta-middle { position:relative;border-top:1px solid #ccc; margin-top:60px;
	.meta {
		.media{background:#ccc; position:relative; float:left; left:auto;
			.img {height:30px; width:30px;} /* author photo */
			.text-micro{} /* author + tag / category + post date*/
			}
		}
	.tools {background:#ccc; position:absolute; right:0;
		.stats {} /* share + comment stats */
	}
}
.meta-bottom { border-bottom:1px solid #ccc;
	.meta {
		.media{background:#ccc; position:relative; float:left; left:auto;
			.img {height:30px; width:30px;} /* author photo */
			.text-micro{} /* author + tag / category + post date*/
			}
		}
	.tools {background:#ccc; position:absolute; right:0;
		.stats {} /* share + comment stats */
	}
}