.pagination {padding-left:0; margin:0 auto; clear:both; padding:30px 0;
	li {float:left; list-style:none; background:$white-color;
		&.unavailable a {background:rgba($black-color, 0.05); color:rgba($black-color,0.5); cursor: not-allowed;
			&:hover{background:rgba($black-color, 0.07); color:rgba($black-color,0.7); cursor: not-allowed;}
		}
		&.current a {background:$primary-color; color:$white-color; 
			&:hover{background:$primary-color-dark;}
		}
	}
	li a {padding:6px 10px; text-decoration:none; font-weight:lighter; border:1px solid rgba($black-color, 0.1); margin-left:-1px;
		&:hover{background:$primary-color; color:$white-color;}
	}
}
.pagination-lg {
	li a {padding:10px 16px; font-size:1.25rem;}
}
.pagination-sm {
	li a {padding:2px 5px; font-size:0.75rem;}
}
/* TABLET */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	.pagination {
		li {
			&:last-child{float:right;}
		}
	}
	.pagination-lg {
		li {padding-bottom:21px;}
	}
	.pagination-sm {
		li {}
	}
}
/* MOBILE */
@media only screen and (max-width: $mobile-breakpoint) {
	.pagination {
		li {padding-bottom:13px;
			&:last-child{}
		}
	}
	.pagination-lg {
		li {padding-bottom:21px;}
	}
}