.side-nav{ list-style: none inside; margin:0; padding:0; border:1px solid rgba($black-color,0.2);background:$white-color; z-index:1;
	li{ text-align:left; padding:10px; border-bottom:1px solid rgba($black-color,0.2); 
		&.logo {padding:0 20px 20px;
			a{padding:0 ;
				&:after{content:"";}
			}
		}
		a{text-decoration: none;}
		a.current,
      	a:hover {color:$primary-color;}
      	a:active {color: $primary-color-lighter;}
		a:after {content:" \00bb";}
		.active{color:rgba($black-color,0.4);background:rgba($black-color,0.1);}
		&:first-child {}
		&:last-child {border-bottom:none;}
		&:hover{background:rgba($black-color,0.05);}
	}
}
.side-nav-fixed {position:fixed; }
	.side-nav-fixed-float{width:300px; float:left; margin:0 20px;
		&.side-nav-top-bar{margin-top: 60px;}
	}
	.side-nav-fixed-tab{position:fixed; top:0; bottom:0;width:320px; padding:20px 0; margin-right:20px; background:$primary-color; border:none;
		li {
			&.active{color:$primary-color; text-align:right; background:$white-color;}
			a {color:$white-color; padding:0 20px;}
		}
		&.side-nav-top-bar{padding-top: 60px;}
	}

/* TABLET */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	.side-nav-fixed {}
	.side-nav-fixed-float {width:200px;
		&.side-nav-top-bar{margin-top:100px;}
	}
	.side-nav-fixed-tab {width:200px;
		li{
			&.logo {padding:20px;
			a{padding:0 ;}
		}
		&.active{}
			a {}
		}
		&.side-nav-top-bar{margin-top: 60px;}
	}
}
/* MOBILE */
@media only screen and (max-width: $mobile-breakpoint) {
	.side-nav-fixed {}
	.side-nav-fixed-float {position:relative;width:100%; margin-left:0; border-left:0; border-right:0;
		&.side-nav-top-bar{margin-top:0;}
	}
	.side-nav-fixed-tab {position:relative; width:100%; height:auto;
		li{
			&.active{}
			a {}
		}
		&.side-nav-top-bar{margin-top: 0px;}
	}
}