/* Titles */
.title {clear:both;}
	.title-top {border-top:1px solid #ccc; padding-top:10px; margin-top:20px;
		h1 {
			.small{}
		}
		h2 	{
			.small{}
		}
	}
	.title-middle { position:relative;border-top:1px solid #ccc; margin-top:20px; margin-bottom:55px;
		h1 { position:relative; top:-25px; float:left; max-width:80%; background:#fff; padding-right:10px;
			.small{}
		}
		h2 { position:relative; top:-20px; float:left; max-width:80%; background:#fff; padding-right:10px;
		}
	}
	.title-bottom { border-bottom:1px solid #ccc; margin-bottom:10px;
		h1 {
			.small{}
		}
		h2 {
			.small{}
		}
	}
	.title-module {
	text-align:right;
	text-transform:uppercase;
	background-color:rgba($black-color,0.3);
	color:$white-color;
	padding:5px;
	position:relative;
		img {float:left; margin-left:2px; margin-top:-15px; margin-bottom:10px;}
	}
