/* Donate Button */
.top-news{width:100%; margin-left:auto; margin-right:auto; padding:0px;
	h1{width:100%; margin-left:10px; padding:10px;border:1px solid #CCC; -webkit-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, .1); box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, .1);font-family:myriad-pro, Verdana, Geneva, sans-serif; font-size:2.0em; margin:0;color:#000; text-transform:uppercase; font-weight:bold;  text-align:left;
		a{color:$PMS-REFLEXBLUE-color; text-decoration:none;}
	}
}