.top-bar {
  font-size: 12px; font-size: 0.75rem; line-height: normal; position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; background-color: $black-color;
  h1{padding:6px 20px; font-size:2em; margin:0; color:rgba($white-color,0.8);}
  ul { line-height: normal; list-style: none;padding:0;margin: 0;
    li {float:left; margin-left: 20px; padding:13px 0; 
      a {text-decoration: none; color: $white-color; padding:13px 10px; 
        &.current,
        &:hover,
        &.hover {color:$primary-color; background:$white-color; zoom:1; }
        &:hover ul,
        &.hover ul {left:auto; display:block; zoom:1;}
        &:active {color: $primary-color-lighter;}
      }
      &:first-child{margin-left:0;}
      &:hover,
      &:hover a{color:$primary-color; background:$white-color; zoom:1;;}
    }
  }
  .nav-toggle {display:none;}
}
.top-bar-fixed-top,
.top-bar-fixed-bottom {
  position:fixed;
  right:0;
  left:0;
  z-index: 1030;
  margin-bottom: 0;
}

.top-bar-right{
  ul{float:right; margin-right:20px;}
}
.top-bar-left{
  ul{float:left;}
}

/*TABLET */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
	.top-bar{
    h1,
    h1.left,
    h1.right {width:100%;text-align:center;}
    ul li {
  		margin-left: 5px;
  			a {
    			padding: 14px 15px;
    		}
      }
    .nav-toggle {display:none;}
  	}
  }
/* MOBILE */
@media only screen and (max-width: $mobile-breakpoint) {
  .top-bar { background-color:$black-color; display:block; min-height:40px; height:auto;
    float: none;
    position: static;
    h1  {width:100%;text-align:center;}
    h1.left {width:auto; text-align:center; float:left;}
    h1.right {width:auto; text-align:center; float:right;}
    ul { 
      clear: both;
      float: none;
      margin: 0;
      padding: 0;
      li {
      float: none;
      margin-left: 0;
      padding:0;
        a {
        color: $white-color;
        padding: 10px 20px;
        display: block;
        text-transform: none;
        background-color: $black-color-light;
          &.current{background-color: rgba($white-color,0.95);}
          &:hover {background-color: $black-color-lightest;}
        }
      }
    }
    .nav-toggle {float:right;display: block; background-color: $primary-color; color: $white-color; padding: 10px; text-decoration: none; height:40px;
      &:hover,
      &:active,
      &.active { background-color: $primary-color-darker; color: $white-color;
      }
      a{color:$white-color; text-decoration:none;}
    }
    &.top-bar-fixed-top,
    &.top-bar-fixed-bottom {
  position:fixed;
  right:0;
  left:0;
  z-index: 1030;
  margin-bottom: 0;}
  }
}